{% block breadcrumb %}
    <div id="breadcrumb">
        {% if breadcrumb %}{% for label,link in breadcrumb %}<a href="{{ link }}">{{ label }}</a> &gt; {% endfor %}
            {{ title }}
        {% else %}
            <a href="{% url 'home' %}">{% trans "Home" %}</a> &gt; {{ title }}
        {% endif %}
    </div>
{% endblock %}
