<div class="js-canvi-navbar--right canvi-navbar animate--in">
    <div class="canvi-navbar__inside">
        <h3 class="canvi-title">{% trans "Navigation" %}</h3>

        <ul class="canvi-navigation">
            <li><a href="{% url 'about' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'about' %} is-active {% endif %}">{% trans "About us" %}</a></li>
            <li><a href="{% url 'collect' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'collect' %} is-active {% endif %}">{% trans "Search" %}</a></li>
            <li><a href="{% url 'offer' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'offer' %} is-active {% endif %}">{% trans "Offer" %}</a></li>
            <li><a href="{% url 'news' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'news' %} is-active {% endif %}">{% trans "News" %}</a></li>
        </ul>

        <h3 class="canvi-title">{% trans "User Navigation" %}</h3>

        <!-- TODO: FORMAT USER MENU -->

        {% if user.is_authenticated %}
            <ul class="canvi-navigation">
                <li class="canvi-navigation__username"><img src="{% static 'img/icon_account.svg' %}"> {{ user.first_name|default:user.email }}
                {% if user.is_owner %}
                <li><a href="{% url 'offer' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'offer' %} is-active {% endif %}">{% trans "My orchards" %}</a></li>
                <li><a href="{% url 'my-products' %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'my-products' %} is-active {% endif %}">{% trans "My products" %}</a></li>
                {% endif %}
                <li><a href="{% url 'savedsearch-list' user.pk %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'savedsearch-list' %} is-active {% endif %}">{% trans "My saved searches" %}</a></li>
                <li><a href="{% url 'bookings-list' user.pk %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'bookings-list' %} is-active {% endif %}">{% trans "My bookings" %}</a></li>
                <li><a href="{% url 'productorders-list' user.pk %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'productorders-list' %} is-active {% endif %}">{% trans "My product orders" %}</a></li>
                <li><a href="{% url 'edit_account' user.pk %}" class="canvi-navigation__item {% if request.resolver_match.url_name == 'edit_account' %} is-active {% endif %}">{% trans "Edit account" %}</a></li>
                <li><a href="{% url 'logout' %}" class="canvi-navigation__item">{% trans "Logout" %}</a></li>
            </ul>
        {% else %}
            <a  class="canvi-navigation__item" href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
        {% endif %}

        <div class="site-header__lang-switcher is-canvi">
            {% for lang in LANGUAGES %}
            <a title="{{ lang.1 }}" href="{% url 'set_language' lang.0 %}"
            {% if LANGUAGE_CODE == lang.0 %}class="is-active"{% endif %}>{{ lang.0 }}</a>
            {% endfor %}
        </div>

    </div>
</div>
