<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 site-footer__column">
                <h3 class="site-footer__title">{% trans "Project Data" %}</h3>

                <ul class="site-footer__menu">
                    <li>meinobstgarten.ch</li>
                    <li>c/o Raphael Häner</li>
                    <li>Drosselweg 12</li>
                    <li>4242 Laufen</li>
                </ul>

                <ul class="site-footer__menu">
                    <li><a href="mailto:info@meinobstgarten.ch">info@meinobstgarten.ch</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 site-footer__column">
                <h3 class="site-footer__title">{% trans "Social Media" %}</h3>

                <ul class="site-footer__menu">
                    <li><a href="https://www.facebook.com/raphael.haener/">Facebook</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 site-footer__column">
                <h3 class="site-footer__title">{% trans "Partners" %}</h3>

                <ul class="site-footer__menu">
                    <li><a href="https://www.bnv.ch/">BNV</a></li>
                    <li><a href="http://www.nachbarnet.net/">NachbarNet</a></li>
                    <li><a href="https://freundereflaufental.ch/obsternten">Freunde RefLaufental</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-5 site-footer__column">
                <h3 class="site-footer__title">{% trans "Supporters" %}</h3>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <a href="#" class="site-footer__logo is-normal">
                            <img src="{% static 'img/new-assets/logo-mercator.svg' %}" alt="">
                        </a>

                        <a href="#" class="site-footer__logo is-normal">
                            <img src="{% static 'img/new-assets/logo-guaraci.svg' %}" alt="">
                        </a>

                        <a href="#" class="site-footer__logo is-normal">
                            <img src="{% static 'img/new-assets/logo-we-make-it.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-md-8">
                        <a href="#" class="site-footer__logo is-large">
                            <img src="{% static 'img/new-assets/logo-schweizerische.svg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="site-footer__copyright">
                    © 2016-2021 <a href="https://www.wildbiss.ch">wildbiss</a>, <a href="https://www.2xlibre.net">2xlibre.net</a>
                </p>
            </div>
        </div>
    </div>
</footer>
