{% load l10n orchard %}

<div class="input-group" data-field="{{ field.name }}">
    {% if field|is_checkbox %}
        <label for="id_{{ field.name }}" class="custom-checkbox">
            <input class="custom-checkbox__input" type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}" {% if field.value %} checked {% endif %}>
            <span class="custom-checkbox__label">{{ field.label|strip_colon }}</span>
        </label>
    {% elif field|is_radio %}
        {% for radio in field.field.widget.choices %}
            <label for="id_{{ field.name }}_{{ radio.0 }}" class="custom-radio">
                <input class="custom-radio__input" type="radio" id="id_{{ field.name }}_{{ radio.0 }}" name="{{ field.name }}" value="{{ radio.0 }}" {% if field.value|stringformat:'s' == radio.0|stringformat:'s' %} checked {% endif %}>
                <span class="custom-radio__label">{{ radio.1 }}</span>
            </label><br>
        {% endfor %}
    {% elif field|is_multiple_checkbox %}
        {{ field|label_tag }}
        <div class="input-group row">
            {% for item in field.field.choices %}
                <div class="col-4">
                    <label for="fruit_interest_{{ item.0 }}" class="custom-checkbox">
                        <input
                            type="checkbox"
                            id="fruit_interest_{{ item.0 }}"
                            class="custom-checkbox__input"
                            name="{{ field.name }}"
                            value="{{ item.0 }}"
                            {% if item.0|stringformat:'s' in field.value|stringformat:'s' %} checked {% endif %}
                        >
                        <span class="custom-checkbox__label">{{ item.1 }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    {% elif field|is_select or field|is_autocomplete or field|is_tinymce %}
        {{ field|label_tag:'True' }}
        {{ field }}
    {% elif field|is_hidden %}
        {{ field }}
    {% else %}
        {{ field|label_tag:'True' }}
        {{ field }}
    {% endif %}

    {{ field.errors }}

    {% if field.help_text %}
        <span class="helptext">{{ field.help_text }}</span>
    {% endif %}
</div>
