<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-header__inside">
                    <a href="{% url 'home' %}" class="site-header__logo">
                        <img src="{% if LANGUAGE_CODE == 'fr' %}{% static 'img/logo_rot_fr.svg' %}{% else %}{% static 'img/logo_rot.svg' %}{% endif %}">
                    </a>
                    <div class="site-header__navigation-wrapper">
                        <div class="site-header__navigation-helper">
                            <div class="site-header__secondary-navigation">
                                {% if user.is_authenticated %}
                                    <ul class="site-header__dropdown-menu">
                                        <li class="has-submenu"><img src="{% static 'img/icon_account.svg' %}"> {{ user.first_name|default:user.email }}
                                            <ul class="submenu">
                                                {% if user.is_owner %}
                                                <li><a href="{% url 'my-orchards' %}" {% if request.resolver_match.url_name == 'my-orchards' %} class="is-active" {% endif %}>{% trans "My orchards" %}</a></li>
                                                <li><a href="{% url 'my-products' %}" {% if request.resolver_match.url_name == 'my-products' %} class="is-active" {% endif %}>{% trans "My products" %}</a></li>
                                                {% endif %}
                                                <li><a href="{% url 'savedsearch-list' user.pk %}" {% if request.resolver_match.url_name == 'savedsearch-list' %} class="is-active" {% endif %}>{% trans "My saved searches" %}</a></li>
                                                <li><a href="{% url 'bookings-list' user.pk %}" {% if request.resolver_match.url_name == 'bookings-list' %} class="is-active" {% endif %}>{% trans "My bookings" %}</a></li>
                                                <li><a href="{% url 'productorders-list' user.pk %}" {% if request.resolver_match.url_name == 'productorders-list' %} class="is-active" {% endif %}>{% trans "My product orders" %}</a></li>
                                                <li><a href="{% url 'edit_account' user.pk %}" {% if request.resolver_match.url_name == 'edit_account' %} class="is-active" {% endif %}>{% trans "Edit account" %}</a></li>
                                                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                                            </ul>
                                        <li></li>
                                    </ul>
                                {% else %}
                                    <a class="active" href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                                {% endif %}
                            </div>

                            <div class="site-header__lang-switcher">
                                {% for lang in LANGUAGES %}
                                <a title="{{ lang.1 }}" href="{% url 'set_language' lang.0 %}"
                                {% if LANGUAGE_CODE == lang.0 %}class="is-active"{% endif %}>{{ lang.0 }}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <nav class="site-header__navigation">
                            <a href="{% url 'about' %}" {% if request.resolver_match.url_name == 'about' %} class="is-active" {% endif %}>{% trans "About us" %}</a>
                            <a href="{% url 'collect' %}" {% if request.resolver_match.url_name == 'collect' %} class="is-active" {% endif %}>{% trans "Search" %}</a>
                            <a href="{% url 'offer' %}" {% if request.resolver_match.url_name == 'offer' %} class="is-active" {% endif %}>{% trans "Offer" %}</a>
                            <a href="{% url 'news' %}" {% if request.resolver_match.url_name == 'news' %} class="is-active" {% endif %}>{% trans "News" %}</a>
                        </nav>

                        <span class="js-canvi-open-button--right site-header__toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
