<div class="accordion-item__content">
    <div class="accordion-item__content-helper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="base-info-box">
                        <div class="base-info-box__image-wrapper">
                            <img src="{% static 'img/new-assets/obstgaerten.svg' %}" alt="" class="base-info-box__image">
                        </div>
                        <h3 class="base-info-box__title">{% trans "Fruit trees" %}</h3>
                        <p class="base-info-box__description">{% trans "You have one or more fruit trees and don't plan to pick the fruits yourself?" %}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="base-info-box">
                        <div class="base-info-box__image-wrapper">
                            <img src="{% static 'img/new-assets/obstbaum.svg' %}" alt="" class="base-info-box__image">
                        </div>
                        <h3 class="base-info-box__title">{% trans "Self-picking" %}</h3>
                        <p class="base-info-box__description">{% trans "You have fruit trees and would like to offer self picking fruits?" %}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="base-info-box">
                        <div class="base-info-box__image-wrapper">
                            <img src="{% static 'img/new-assets/obst.svg' %}" alt="" class="base-info-box__image" width="160">
                        </div>
                        <h3 class="base-info-box__title">{% trans "Picked fruits" %}</h3>
                        <p class="base-info-box__description">{% trans "You have fruits picked from your fruit trees and you want to sell or offer them?" %}</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="base-info-box">
                        <div class="base-info-box__image-wrapper">
                            <img src="{% static 'img/new-assets/produkt.svg' %}" alt="" class="base-info-box__image" width="120">
                        </div>
                        <h3 class="base-info-box__title">{% trans "Produkts" %}</h3>
                        <p class="base-info-box__description">{% trans "You prepared some products from the fruits of your trees which you want to sell?" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
