<h3>{% trans "Fees for selling on meinobstgarten.ch" %}</h3>

<p>{% blocktrans %}Creating a user account and creating search queries is free.
Product setting and selling on meinobstgarten.ch is charged.{% endblocktrans %}
</p>

<p>{% blocktrans %}Mit dem erfolgreichen Verkauf eines Artikels wird eine Abschlussgebühr generiert, die vom Verkaufspreis abhängt. Als Verkaufspreis gilt der Nettopreis (inkl. MwSt, exkl. allfällige Versandkosten).{% endblocktrans %}

<p>{% trans "The closing fee is made up as follows:" %}</p>

<p>{% trans "Annual fee per orchard: CHF 5.00" %}</p>

<p>{% trans "Orchard Products:" %}
<ul><li>{% trans "bis zu 7 % des Verkaufspreises (exkl. der Versandkosten)" %}</li></ul>
</p>

<p>{% trans "Trees / fruit:" %}
    <ul><li>{% trans "bis zu 5% des Verkaufspreises" %}</li></ul>
</p>

<p>{% trans "Pro Obstgarten werden jährlich Gebühren von maximal CHF 100.00 abgerechnet. Wird diese Grenze erreicht, so ist der weitere Verkauf gebührenfrei." %}</p>

<p>{% trans "Bei Barbezahlung gelten die selben Gebühren. Die Verkaufsmenge ist durch den Verkäufer monatlich an meinobstgarten.ch zu melden." %}</p>

<p>{% trans "meinobstgarten.ch stellt den Verkäufern grundsätzlich monatlich Rechnung. Aus administrativen Gründen behält sich meinobstgarten.ch vor, die Rechnung jährlich zu stellen." %}</p>

<h3>{% trans "Beispiel :" %}</h3>

<p>{% trans "Es werden in einem Jahr 5 Bäume (je CHF 30.00) und 3 Produkte (je CHF 20.00) aus einem Obstgarten erfolgreich vermittelt bzw. verkauft. Die Abschlussgebühr berechnet sich wie folgt:" %}</p>
<table style="width: 100%;">
    <tr><td>{% trans "Jahrespauschale pro Obstgarten:" %}</td>
        <td style="text-align: right;">= CHF 5.00</td></tr>
    <tr><td>{% trans "Baumvermittlung:" %} 5 * CHF 30.00 * 5%</td>
        <td style="text-align: right;">= CHF 7.50</td></tr>
    <tr><td>{% trans "Produkte:" %} 3 * CHF 20.00 * 7%</td>
        <td style="text-align: right;">= CHF 4.20</td></tr>
    <tr><td><b>{% trans "Total" %}</b></td>
        <td style="text-align: right;"><b>= CHF 16.70</b></td></tr>
</table>

<p>{% trans "Der Verkäufer hat mit meinobstgarten.ch einen Umsatz von CHF 210.- erwirtschaftet." %}</p>
