{% extends "base.html" %}
{% load orchard %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% if form.instance.pk %}{% trans 'My account' %}{% else %}{% trans 'Create an account' %}{% endif %}</h1>

                {{ form.non_field_errors }}

                <form method="POST" action="">
                    {% csrf_token %}
                    {% if not form.instance.pk %}
                        {{ form.next_page }}
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="input-group">
                                {{ form.first_name|label_tag }}
                                <input type="text" id="id_first_name" name="{{ form.first_name.name }}" class="input-group__field" placeholder="{{ form.first_name.label }}" value="{{ form.first_name.value|default:'' }}">
                                {{ form.first_name.errors }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="input-group">
                                {{ form.last_name|label_tag }}
                                <input type="text" id="id_last_name" name="{{ form.last_name.name }}" class="input-group__field" placeholder="{{ form.last_name.label }}" value="{{ form.last_name.value|default:'' }}">
                                {{ form.last_name.errors }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                {{ form.email|label_tag }}
                                <input type="email" id="id_email" name="{{ form.email.name }}" class="input-group__field" placeholder="{{ form.email.label }}" value="{{ form.email.value|default:'' }}">
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                {{ form.language|label_tag }}
                                <select id="language" name="{{ form.language.name }}" class="input-group__field">
                                    <option value="">--------</option>
                                    {% for lang in LANGUAGES %}
                                        <option value="{{ lang.0 }}" {% if form.language.value == lang.0 %} selected {% endif %}>{% trans lang.1 %}</option>
                                    {% endfor %}
                                </select>
                                {{ form.language.errors }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                {{ form.street|label_tag }}
                                <input type="text" id="id_street" name="{{ form.street.name }}" class="input-group__field" placeholder="{{ form.street.label }}" value="{{ form.street.value|default:'' }}">
                                {{ form.street.errors }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="input-group">
                                {{ form.pcode|label_tag }}
                                <input type="text" id="pcode" name="{{ form.pcode.name }}" class="input-group__field" placeholder="{{ form.pcode.label }}" value="{{ form.pcode.value|default:'' }}">
                                {{ form.pcode.errors }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6">
                            <div class="input-group">
                                {{ form.city|label_tag }}
                                <input type="text" id="id_city" name="{{ form.city.name }}" class="input-group__field" placeholder="{{ form.city.label }}" value="{{ form.city.value|default:'' }}">
                                {{ form.city.errors }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group">
                                {{ form.phone|label_tag }}
                                <input type="text" id="id_phone" name="{{ form.phone.name }}" class="input-group__field" placeholder="{{ form.phone.label }}" value="{{ form.phone.value|default:'' }}">
                                {{ form.phone.errors }}
                            </div>
                        </div>

                        {% if form.paiement_info %}
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.paiement_info|label_tag }}
                                    <textarea id="id_payment-info" name="{{ form.paiement_info.name }}" class="input-group__field" placeholder="{{ form.paiement_info.label }}">{{ form.paiement_info.value|default:'' }}</textarea>
                                    {{ form.paiement_info.errors }}
                                </div>
                                <span class="helptext">{{ form.paiement_info.help_text }}</span>
                            </div>
                        {% endif %}

                        <div class="col-12">
                            <div class="input-group">
                                <label for="receive_news" class="custom-checkbox">
                                    <input class="custom-checkbox__input" type="checkbox" id="receive_news" name="{{ form.receive_news.name }}" {% if form.receive_news.value %} checked {% endif %}>
                                    <span class="custom-checkbox__label">{{ form.receive_news.label|cut:':' }}</span>
                                </label>
                                {{ form.receive_news.errors }}
                            </div>
                        </div>

                        <div class="col-12 fruit-interest-list">
                            <label class="input-group__label">{{ form.fruit_interest.label }}</label>
                            <div class="input-group row">
                                {% for item in form.fruit_interest.field.choices %}
                                    <div class="col-4">
                                        <label for="fruit_interest_{{ item.0 }}" class="custom-checkbox">
                                            <input
                                                type="checkbox"
                                                id="fruit_interest_{{ item.0 }}"
                                                class="custom-checkbox__input"
                                                name="{{ form.fruit_interest.name }}"
                                                value="{{ item.0 }}"
                                                {% if item.0|stringformat:'s' in form.fruit_interest.value|stringformat:'s' %} checked {% endif %}
                                            >
                                            <span class="custom-checkbox__label">{{ item.1 }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        {% if not form.instance.pk %}
                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.password1|label_tag }}
                                    <input type="password" id="id_password1" name="{{ form.password1.name }}" class="input-group__field" placeholder="{{ form.password1.label }}">
                                    {{ form.password1.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.password2|label_tag }}
                                    <input type="password" id="id_password2" name="{{ form.password2.name }}" class="input-group__field" placeholder="{{ form.password2.label }}">
                                    {{ form.password2.errors }}
                                    <span class="helptext"></span>{{ form.password2.help_text }}</span>
                                </div>
                            </div>
                        {% endif %}

                        <div class="col-12 col-sm-6">
                            <button type="submit" class="btn mb1r">{% if form.instance.pk %}{% trans 'Modify my account' %}{% else %}{% trans 'Create account' %}{% endif %}</button>
                        </div>
                        {% if form.instance.pk and form.instance.deletable %}
                            <div class="col-12 col-sm-6 justify-content-end--md">
                                <button type="submit" formaction="{% url 'delete-account' form.instance.pk %}" data-confirm="{% trans 'Do you really want to delete your account?' %}" class="btn is-secondary mb1r">{% trans 'Delete my account' %}</button>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
