{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
<style type="text/css">
span.buttons { margin-left: 5em; cursor: pointer; }
</style>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    var links = document.getElementsByClassName('del-link');
    for (i = 0; i < links.length; i++) {
        links[i].addEventListener('click', function (ev) {
            ev.preventDefault();
            if (confirm('{% trans "Do you really want to delete this booking?" %}')) {
                var form = document.getElementById('delete-form');
                form.bookingid.value = this.dataset.bookingid;
                form.submit();
            }
        });
    }
});
</script>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "My bookings" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <form id="delete-form" method="post" action="{% url 'booking-delete' %}">{% csrf_token %}
                    <input type="hidden" name="bookingid">
                    <ul class="data-list">
                    {% for booking in object_list %}
                        <li class="data-list-item">
                            <div class="data-list-item__helper">
                                <h2 class="data-list-item__title">
                                    {% blocktrans with tree=booking.tree orchard=booking.tree.orchard url=booking.tree.orchard.get_absolute_url %}{{ tree }} in orchard <a href="{{ url }}">{{ orchard }}</a>.{% endblocktrans %}
                                </h2>
                                <span class="data-list-item__meta">
                                    {% if booking.tree.fruit_quantity != '-' %} {{ booking.tree.fruit_quantity }} {% endif %}
                                    ({{ booking.tree|pick_date_string:booking.year }})
                                    {% if booking.tree.price %}, {{ booking.tree.price_string }} {% endif %}
                                </span>
                            </div>
                            {% if booking.can_delete %}
                                <div class="buttons">
                                    <img class="del-link" data-bookingid="{{ booking.pk }}" src="{% static 'img/icon-deletelink.svg' %}" title="{% trans 'Delete' %}" width="22">
                                </div>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li class="message is-warning" style="list-style: none;">{% trans 'No bookings yet.' %}</li>
                    {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
