{% extends "base.html" %}

{% block content %}
    <div class="generic-page login-page">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                    <h1 class="page-header">{% trans "Login" %}</h1>

                    <h2 class="form-title">{% trans "Do you already have an account?" %}</h2>

                    {{ form.non_field_errors }}

                    <form action="" method="POST" class="form">
                        {% csrf_token %}

                        <div class="input-group">
                            <label for="email" class="input-group__label sr-only">{% trans "E-Mail" %}</label>
                            <input type="email" id="email" name="username" class="input-group__field" placeholder='{% trans "E-Mail" %}'>
                            {{ form.username.errors }}
                        </div>

                        <div class="input-group">
                            <label for="password" class="input-group__label sr-only">{% trans "Password" %}</label>
                            <input type="password" id="password" name="password" class="input-group__field" placeholder='{% trans "Password" %}'>
                            {{ form.password.errors }}
                        </div>

                        <div class="form__password-reset-link">
                            <a href="{% url 'password_reset' %}">{% trans 'Forgotten your password or username?' %}</a>
                        </div>

                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}

                        <button type="submit" class="btn">{% trans 'Login' %}</button>
                    </form>

                    <div class="login-registration-section">
                        <h2 class="form-title">{% trans 'Don’t have an account? Register now!' %}</h2>
                        <a href="{% url 'create_account_user' %}" class="btn">{% trans "Create an account" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
