{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                {% if validlink %}
                    <h1 class="page-header">{% trans "Password reset" %}</h1>

                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                    {{ form.non_field_errors }}

                    <form action="" method="POST">
                        {% csrf_token %}

                        <div class="input-group">
                            <label for="new_password1" class="input-group__label sr-only">{% trans 'New password:' %}</label>
                            <input type="password" name="new_password1" id="new_password1" class="input-group__field" placeholder="{% trans 'New password:' %}">
                            {{ form.new_password1.errors }}
                        </div>

                        <div class="input-group">
                            <label for="new_password2" class="input-group__label sr-only">{% trans 'Confirm password:' %}</label>
                            <input type="password" name="new_password2" id="new_password2" class="input-group__field" placeholder="{% trans 'Confirm password:' %}">
                            {{ form.new_password2.errors }}
                        </div>

                        <button type="submit" class="btn">{% trans 'Change my password' %}</button>
                    </form>
                {% else %}
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
