{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Password reset" %}</h1>
                <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
