{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Password reset" %}</h1>

                <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

                {{ form.non_field_errors }}

                <form action="" method="post">
                    {% csrf_token %}

                    <div class="input-group">
                        <label for="email" class="input-group__label sr-only">{% trans 'Email address:' %}</label>
                        <input type="email" name="email" id="email" class="input-group__field" placeholder="{% trans 'Email address' %}">
                        {{ form.email.errors }}
                    </div>

                    <button type="submit" class="btn">{% trans 'Reset my password' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
