{% extends "base.html" %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "My product orders" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <ul class="data-list">
                    {% for order in object_list %}
                        <li class="data-list-item">
                            <div class="data-list-item__helper">
                                <h2 class="data-list-item__title"><a href="{{ order.get_absolute_url }}">{{ order.product }}</a></h2>
                                <span class="data-list-item__meta">{% trans "Status:" %} {{ order.get_status_display }}</span>
                            </div>
                        </li>
                    {% empty %}
                        <li class="message is-warning">{% trans 'No product orders yet.' %}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
