{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
    var links = document.getElementsByClassName('del-link');
    for (i = 0; i < links.length; i++) {
        links[i].addEventListener('click', function (ev) {
            ev.preventDefault();
            var form = document.getElementById('delete-form');
            if (confirm(form.dataset.confirm)) {
                form.searchid.value = this.dataset.searchid;
                form.submit();
            }
        });
    }
});
</script>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "My saved searches" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <form id="delete-form" method="post" action="{% url 'search-delete' %}"
                      data-confirm="{% trans "Do you really want to delete this search?" %}">
                    {% csrf_token %}
                    <input type="hidden" name="searchid">
                    <ul class="data-list">
                    {% for srch in object_list %}
                        <li class="data-list-item">
                            <div class="data-list-item__helper">
                                <h2 class="data-list-item__title"><a href="{{ srch.url }}">{{ srch.name }}</a></h2>
                                <span class="data-list-item__meta">{% trans "Notification interval:" %} {{ srch.get_interval_display }}</span>
                            </div>

                            <div class="buttons">
                                <img class="del-link" data-searchid="{{ srch.pk }}" src="{% static 'img/icon-deletelink.svg' %}" width="22">
                            </div>
                        </li>
                    {% empty %}
                        <li class="message is-warning">{% trans 'No saved search yet.' %}</li>
                    {% endfor %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
