@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/Open_Sans/OpenSans-Regular.ttf)  format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

body#tinymce {
    background-color: #fff !important;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}
