button.ol-zoom-in { background: no-repeat center url("../img/map_plus.svg"); }
button.ol-zoom-out {background: no-repeat center url("../img/map_minus-rot.svg"); }

div#map-popup {
  background-color: white;
  opacity: 0.9;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

div#map-popup { text-align: left;  font-size: 15px; }
div#map-popup h2 { margin-top: 0; }
div#map-popup p { margin: 0.5em 0; }
