/*div.description-long { position: relative; }
a.readless { position: absolute; right: 0; bottom: -10px; }

div.buttons { width: 60%; clear: both; }
div.private { color:red; }
div#product-div { position: relative; background-color: #F1F6ED; padding: 0.5em; }
div#product-div:empty { display: none; }
ul#product-list { margin: 0; padding: 0.5em 2em; }

div#mail-div { position: absolute; bottom: 1.1em; right: 1.1em; }
img#mail-icon { padding: 5px; }
form#mail-form { display: none; padding: 0.5em; border: 1px solid gray; }
textarea#id_message { width: 100%; height: 5em; }

div#trees { display: inline-block; vertical-align: top; margin: 0 0.5em; width: 35%; }
img.req_level { float: right; max-width: 6em; }
div#photos { display: inline-block; }
input#only-avail { float: left; }
label#only-avail-label { padding-left: 2em; display: block; font-size: small; font-style: italic; }
ul.tree_list { list-style-type: none; margin: 0; padding: 0; }
ul.tree_list > li { margin-top: 0.8em; }
ul.tree_list > li > ul > li { margin: 0.2em; }
li.highlight { background-color: yellow; }
span.specie-count { float: right; margin-left: 0.5em; font-style: italic; }
span.mapVisible { float: right; cursor: pointer; }
ul.trees { display: none; }
span.privateTree { color: red; font-style: italic; }
img.dup-icon { width: 22px; height: 22px; }
form.inline { display: inline-block; }
img.service-icon { cursor: pointer; width: 40px; vertical-align: bottom; }
div.booking-form { display: none; font-size: small; }
span.header { font-weight: bold; }
span#new-tree-button, span#new-product-button { font-size: smaller; }
span#new-product-button { margin-top: 0; }
div#lease-help { display: none; }
div#lease-help img { border: 2px solid #aaa; }
div#lease-help li { padding-bottom: 0.5em; }
*/