/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Styleguide
# Imports
# Defaults
# Button
# Canvi
# Header
# Footer
# Fruity Alerts
# Hero
# Testimonial
# Page Header
# News
# Accordion
# Info Box
# Generic Page
# Form
# Entry Content
# Search
# Data List
# Data Table
# Orchard
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Styleguide

Colors =====

Black: #333;
Default (green): #93C01F;
Secondary (dark green): #007334;
Light Green: #F3FFD9;
Light Gray: #B3B3B3;
Red: #CE191D;


Breakpoints =====

Context: always min-width

sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px


--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import 'bootstrap.css';
@import 'canvi.css';



/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/

:root {
    box-sizing: border-box;
    font-size: 90%;
}

@media (min-width: 992px) {
    :root {
        font-size: 100%;
    }
}

::selection {
    background: #007334;
    color: #fff;
}

body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}


a {
    transition: color 0.25s ease;
    color: #93C01F;
}

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        transition: color 0.25s ease;
        color: #007334;
    }

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #B3B3B3;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #B3B3B3;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #B3B3B3;
}
:-moz-placeholder { /* Firefox 18- */
    color: #B3B3B3;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mt1r { margin-top: 1rem !important;; }
.mt2r { margin-top: 2rem !important;; }
.mb1r { margin-bottom: 1rem !important;; }
.mb2r { margin-bottom: 2rem !important; }
.mb3r { margin-bottom: 3rem !important; }
.mb0 { margin-bottom: 0 !important; }
.mb1r { margin-bottom: 1rem !important;; }
.mb2r { margin-bottom: 2rem !important;; }

@media (max-width: 991px) {
    .m-mb1r { margin-bottom: 1rem; }
}

.pb0 { padding-bottom: 0 !important; }
.pt0 { padding-top: 0 !important; }

.align-text--center { text-align: center; }
.highlight { background-color: yellow; }



/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.btn {
    background: #93C01F;
    padding: 0.4em 0.8em;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    transition: background 0.25s ease;
    border: none;
    cursor: pointer;
}

    .btn.is-secondary {
        background: #ccc;
    }

    .btn:hover,
    .btn:focus,
    .btn:active {
        background: #007334;
        color: #fff;
        transition: background 0.25s ease;
    }




/*--------------------------------------------------------------
# Canvi
--------------------------------------------------------------*/

.canvi-title {
    font-size: .9rem;
    text-transform: uppercase;
    margin: 1rem 0 0;
    color: rgba(255,255,255,0.3);
    padding: 0.8rem 1.5rem 0.2rem 1.5rem;
    display: block;
    font-weight: 400;
}

.canvi-navigation li:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,.03);
}

.canvi-navigation__item,
.canvi-navigation__item:hover,
.canvi-navigation__item:focus,
.canvi-navigation__item:active {
    padding: 0.9rem 1.5rem;
    font-weight: 700;
    opacity: 1;
    color: #fff;
}

    .canvi-navigation__item.is-active {
        color: #93C01F;
    }

.canvi-navbar {
    background: #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .canvi-navbar .site-header__lang-switcher {
        margin-top: 2rem;
        padding: 0.9rem 1.5rem;
        font-weight: 700;
    }


    .canvi-navbar .site-header__lang-switcher a {
        margin-left: 0;
        margin-right: 0.4rem;
    }

.canvi-navigation__username {
    color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
}

    .canvi-navigation__username img {
        margin-right: 10px;
        width: 15px;
    }



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
    background-color: #fff;
}

.site-header__inside {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .site-header__inside {
        height: 100px;
    }
}

@media (min-width: 992px) {
    .site-header__inside {
        height: 130px;
    }
}

.site-header__logo {
    height: 40px;
    display: inline-block;
}

@media (min-width: 992px) {
    .site-header__logo {
        height: 60px;
    }
}

    .site-header__logo img {
        height: 100%;
        width: auto;
    }

.site-header__navigation-helper {
    display: none;
}

@media (min-width: 768px) {
    .site-header__navigation-helper {
        display: flex;
        justify-content: flex-end;
    }
}

.site-header__navigation {
    display: none;
}

@media (min-width: 768px) {
    .site-header__navigation {
        display: block;
        margin-top: 0.6rem;
    }
}

@media (min-width: 992px) {
    .site-header__navigation {
        margin-top: 0.8rem;
    }
}

    .site-header__navigation a {
        font-size: 1.2rem;
        font-weight: 700;
        color: #333;
        margin-left: 1.5rem;
    }


    @media (min-width: 992px) {
        .site-header__navigation a {
            font-size: 1.4rem;
        }
    }

    .site-header__navigation a:hover,
    .site-header__navigation a:focus,
    .site-header__navigation a:active,
    .site-header__navigation a.is-active {
        color: #93C01F;
        text-decoration: none;
    }

.site-header__secondary-navigation {
    font-weight: 700;
}

.site-header__lang-switcher:not(.is-canvi) {
    font-weight: 700;
    position: relative;
    padding-left: 1rem;
    margin-left: 1rem;
}

    .site-header__lang-switcher:not(.is-canvi)::before {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        display: block;
        width: 1px;
        height: 14px;
        background: #b3b3b3;
    }

    .site-header__lang-switcher a {
        margin-left: 0.4rem;
        color: #b3b3b3;
    }

    .site-header__lang-switcher a:hover,
    .site-header__lang-switcher a:focus,
    .site-header__lang-switcher a:active,
    .site-header__lang-switcher a.is-active {
        color: #93C01F;
    }

.site-header__toggle {
    width: 25px;
    cursor: pointer;
    margin-left: 2rem;
    display: inline-block;
    background: none;
    border: none;
    margin-top: 6px;
}

@media (min-width: 768px) {
    .site-header__toggle {
        display: none;
    }
}

    .site-header__toggle span {
        background: #93C01F;
        height: 3px;
        border-radius: 2px;
        margin: 5px 0;
        display: block;
        transition: 0.3s;
    }


    .site-header__toggle span:first-child {
        width: 15px;
    }

    .site-header__toggle span:last-child {
        width: 20px;
    }

.site-header__dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .site-header__dropdown-menu .has-submenu {
        position: relative;
        display: flex;
        align-items: center;
        color: #93C01F;
        cursor: pointer;
    }

        .site-header__dropdown-menu .has-submenu > img {
            margin-right: 10px;
            width: 14px;
        }

        .site-header__dropdown-menu .has-submenu:hover .submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 0.15s ease;
        }

    .site-header__dropdown-menu .submenu {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        background: #333;
        min-width: 180px;
        font-size: 0.9rem;
        padding: 1rem 1.2rem;
        cursor: default;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        z-index: 40;
        transition: 0.15s ease;
    }

        .site-header__dropdown-menu .submenu::before {
            content: '';
            position: absolute;
            top: -6px;
            left: 10px;
            width: 0;
            height: 0;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom: 6px solid #333;
        }

        .site-header__dropdown-menu .submenu::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 0;
            left: 0;
            height: 10px;
            background: transparent;
        }

        .site-header__dropdown-menu .submenu > * + * {
            margin-top: 6px;
        }

        .site-header__dropdown-menu .submenu a {
            color: #fff;
            display: block;
        }

            .site-header__dropdown-menu .submenu a:hover,
            .site-header__dropdown-menu .submenu a:focus,
            .site-header__dropdown-menu .submenu a:active,
            .site-header__dropdown-menu .submenu a.is-active {
                color: #93C01F;
            }



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
    background: #000;
    padding: 2rem 0;
    color: #fff;
}

@media (min-width: 992px) {
    .site-footer {
        padding: 4rem 0;
    }
}

.site-footer a {
    color: #fff;
}

    .site-footer a:hover,
    .site-footer a:focus,
    .site-footer a:active {
        color: #93C01F;
    }

.site-footer__title {
    margin: 0;
    font-size: 1rem;
}

.site-footer__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer__menu li {
    margin-top: 0.2rem;
}

.site-footer__column {
    margin-top: 3rem;
}

@media (min-width: 992px) {
    .site-footer__column {
        margin-top: 0;
    }
}

.site-footer__column > * + * {
    margin-top: 1.8rem;
}

.site-footer__copyright {
    color: rgba(255,255,255,0.6);
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.site-footer__copyright a {
    color: rgba(255,255,255,0.6);
}

.site-footer__logo {
    display: inline-block;
    margin-bottom: 1.5rem;
    height: auto;
}

    .site-footer__logo.is-normal {
        height: 50px;
        margin-right: 1.5rem;
    }

    .site-footer__logo.is-large {
        height: auto;
        width: 100%;
        max-width: 340px;
    }

        .site-footer__logo.is-large img {
            height: auto;
            width: 100%;
        }

    .site-footer__logo img {
        height: 100%;
        width: auto;
    }



/*--------------------------------------------------------------
# Fruity Alerts
--------------------------------------------------------------*/

.fruity-alerts {
    background: #CE191D;
    padding: 4rem 0;
    color: #fff;
}

.fruity-alerts__inside > * + * {
    margin-top: 2rem;
}

.fruity-alert a {
    color: #fff;
}

    .fruity-alert a:hover,
    .fruity-alert a:focus,
    .fruity-alert a:active {
        color: rgba(255,255,255,0.8);
    }

.fruity-alert__title {
    margin: 0;
    font-size: 1.6rem;
}

@media (min-width: 992px) {
    .fruity-alert__title {
        font-size: 2.1rem;
    }
}

.fruity-alert__subtitle {
    font-size: 1.2rem;
    margin: 0 0 0.4rem;
    font-weight: 400;
}

@media (min-width: 992px) {
    .fruity-alert__subtitle {
        font-size: 1.4rem;
    }
}


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.site-hero {
    background: #F3FFD9;
    padding: 4rem 0;
    position: relative;
}

@media (min-width: 992px) {
    .site-hero {
        padding: 5rem 0;
    }

    .site-hero__inside {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.site-hero__close {
    width: 15px;
    height: auto;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: opacity 0.15s ease;
}

.site-hero__close:hover {
    opacity: 0.7;
    transition: opacity 0.15s ease;
}

.site-hero__subtitle {
    font-weight: 400;
    margin: 0;
    color: #007334;
    font-size: 1.2rem;
}

@media (min-width: 992px) {
    .site-hero__subtitle {
        font-size: 1.4rem;
    }
}

.site-hero__title {
    margin: 0 0 1rem 0;
    color: #93C01F;
    font-size: 2rem;
}

    .site-hero__title.is-dark {
        color: #007334;
    }

@media (min-width: 992px) {
    .site-hero__title {
        font-size: 2.7rem;
    }
}

.site-hero__description {
    font-size: 1.1rem;
    color: #000;
}

.site-hero__image {
    width: 100%;
    max-width: 300px;
    height: 240px;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .site-hero__image {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 0;
    }
}

.site-hero__btns {
    margin-top: 2rem;
}

.site-hero__btns .btn {
    margin: 0 0.5rem 0.5rem 0;
}



/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/

.testimonial-item {
    padding: 4rem 0;
    text-align: center;
}

    .testimonial-item.is-green {
        background: #F3FFD9;
    }

@media (min-width: 768px) {
    .testimonial-item {
        text-align: left;
    }
}

.testimonial-item__image {
    max-height: 160px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .testimonial-item__image {
        max-height: 300px;
        max-width: 310px;
    }
}

.testimonial-item__second-column {
    margin-top: 2rem;
}

@media (min-width: 992px) {
    .testimonial-item__second-column {
        margin-top: 0;
    }
}

.testimonial-item__subtitle {
    font-weight: 400;
    margin: 0;
    color: #007334;
    font-size: 1.1rem;
}

@media (min-width: 992px) {
    .testimonial-item__subtitle {
        font-size: 1.2rem;
    }
}

.testimonial-item__title {
    margin: 0.2rem 0 1rem 0;
    color: #007334;
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    .testimonial-item__title {
        font-size: 2.5rem;
    }
}

.testimonial-item__btn {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .testimonial-item__btn {
        margin-top: 2rem;
    }
}



/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/

.page-header {
    margin: 0 0 2rem 0;
    color: #007334;
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    .page-header {
        font-size: 2.5rem;
    }
}



/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/

.news-page {
    background: #F3FFD9;
    padding: 3rem 0;
}

@media (min-width: 992px) {
    .news-page {
        padding: 4rem 0;
    }
}

.news-items > * + * {
    margin-top: 2.5rem;
}

.news-item__title {
    font-size: 1.2rem;
    margin: 0.1rem 0 0.2rem;
    color: #000;
}

.news-item__meta {
    color: rgba(0,0,0,0.4);
}



/*--------------------------------------------------------------
# Accordion
--------------------------------------------------------------*/

.accordion__inside > * + * {
    border-top: 1px solid #007334;
}

.accordion-item.is-open .accordion-item__content {
    max-height: 2000px;
}

.accordion-item.is-open .accordion-item__title img {
    transform: rotate(45deg);
    transform-origin: center;
    transition: 0.2s linear;
}

.accordion-item__title {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 1200px) {
    .accordion-item__title {
        padding: 2rem 2rem;
    }
}

    .accordion-item__title img {
        width: 16px;
        height: 16px;
        margin-right: 1rem;
        transition: 0.2s linear;
    }

    @media (min-width: 992px) {
        .accordion-item__title img {
            width: 22px;
            height: 22px;
            margin-right: 1.5rem;
        }
    }

    .accordion-item__title h2 {
        color: #93C01F;
        font-size: 1.8rem;
        margin: 0;
        line-height: 1.3;
    }

    @media (min-width: 992px) {
        .accordion-item__title h2 {
            font-size: 2.3rem;
        }
    }

.accordion-item__content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s linear;
}

@media (min-width: 1200px) {
    .accordion-item__content-inside {
        padding-left: calc(26px + 1.5rem + 2rem);
    }
}

.accordion-item__content-helper {
    padding: 1rem 0 3rem;
}



/*--------------------------------------------------------------
# Info Box
--------------------------------------------------------------*/

.base-info-box {
    margin-bottom: 1rem;
}

.base-info-box__title {
    font-size: 1.5rem;
    color: #007334;
    text-align: center;
    margin: 1.5rem 0 1.2rem;
}

.base-info-box__description {
    margin-bottom: 0;
}

.base-info-box__image-wrapper {
    height: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.base-info-box__image-wrapper img {
    max-height: 100%;
}

.step-info-boxes {
    counter-reset: section;
}

.step-info-box {
    margin-bottom: 2rem;
}

.step-info-box__image {
    margin-bottom: 1rem;
    width: 100%;
}

.step-info-box__description {
    padding-left: 40px;
    position: relative;
}

.step-info-box__description::before {
    counter-increment: section;
    content: counter(section);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background: #575555;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 2px;
    left: 0;
}



/*--------------------------------------------------------------
# Generic Page
--------------------------------------------------------------*/

.generic-page {
    border-top: 1px solid rgba(0,0,0,0.1);
    background: #FFF;
    padding: 3rem 0;
}

@media (min-width: 992px) {
    .generic-page {
        padding: 4rem 0;
    }
}



/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

textarea {
    width: 100%;
}

.form {
    margin-bottom: 2rem;
}

    .form__password-reset-link {
        margin-bottom: 1rem;
    }

.form-title {
    color: #007334;
    margin: 0 0 1rem;
    font-size: 1.3rem;
}

.login-registration-section {
    margin-top: 4rem;
}

.input-group {
    margin-bottom: 1rem;
}

    .input-group.no-margin {
        margin-bottom: 0;
    }

    .input-group__label {
        color: rgba(0,0,0,0.35);
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0 0 0.3rem;
    }

    .input-group__field,
    select {
        padding: 0.5rem 1rem;
        border: 1px solid #333;
        color: #333;
        width: 100%;
        background: #fff;
        height: 44px;
    }

    textarea.input-group__field {
        min-height: 80px;
        height: auto;
    }

.errorlist {
    color: #CE191D;
    margin: 0.5rem 0 0 0;
    padding: 0;
    font-size: 0.9rem;
}

.login-page .errorlist {
    margin-bottom: 1rem;
}

    .errorlist li {
        list-style: none;
        margin-bottom: 0;
    }

    .errorlist > * + * {
        margin-top: 0.5rem;
    }

.helptext {
    display: block;
    margin-top: 0.5rem;
    color: rgba(0,0,0,0.7);
    font-size: 0.9rem;
}

.fruit-interest-list .custom-checkbox,
.input-group[data-field="fruit_species"] .input-group .custom-checkbox {
    margin: 0.5rem 1rem 0.5rem 0;
}

.custom-checkbox__input {
    display: none;
}

    .custom-checkbox__input:checked + .custom-checkbox__label::after {
        content: '';
    }

    .custom-checkbox__input:focus + .custom-checkbox__label::before {
        border-color: #93C01F;
    }

.custom-checkbox__label {
    position: relative;
    padding-left: 35px;
    color: #007334;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 0 0.3rem;
    user-select: none;
    display: block;
    line-height: 1.4;
}

    .custom-checkbox__label::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 12px);
        left: 0;
        z-index: 5;
        width: 25px;
        height: 25px;
        border: 1px solid #999;
        background: #fff;
        border-radius: 2px;
    }

    .custom-checkbox__label::after {
        content: none;
        display: block;
        position: absolute;
        top: calc(50% - 4px);
        left: 6px;
        z-index: 10;
        width: 14px;
        height: 7px;
        border-left: 2px solid #93C01F;
        border-bottom: 2px solid #93C01F;
        transform: rotate(-45deg);
    }

.custom-radio__input {
    display: none;
}

    .custom-radio__input:checked + .custom-radio__label::after {
        content: '';
    }

    .custom-radio__input:focus + .custom-radio__label::before {
        border-color: #93C01F;
    }

.custom-radio__label {
    position: relative;
    padding-left: 35px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.35);
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 0 0.3rem;
    user-select: none;
    display: block;
}

    .custom-radio__label::before {
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        left: 0;
        z-index: 5;
        width: 25px;
        height: 25px;
        border: 1px solid #999;
        background: #fff;
        border-radius: 2px;
    }

    .custom-radio__label::after {
        content: none;
        display: block;
        position: absolute;
        top: 4.5px;
        left: 7.5px;
        z-index: 10;
        width: 10.5px;
        height: 10.5px;
        background: #93C01F;
    }



@media (min-width: 576px) {
    .justify-content-end--md {
        display: flex;
        justify-content: flex-end;
    }
}

.message {
    font-weight: 700;
    padding: 0.7rem 1rem;
    border-radius: 2px;
    background: #ccc;
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 1rem;
}

.message:empty {
    display: none;
}

.message.is-error {
    background: #CE191D;
}

.message.is-warning {
    background: #007334;
}

.message.is-success {
    background: #19ce4c;
}

.input-group[data-field="availability"],
.upload-form
{
    border-top: 1px dashed #efefef;
    padding-top: 1rem;
}

.input-group[data-field="availability"],
.input-group[data-field="unit"],
.input-group[data-field="is_public"],
.input-group[data-field="pick_details"],
.input-group[data-field="pay_method"],
.input-group[data-field="tree_treatment"] {
    border-bottom: 1px dashed #efefef;
    padding-bottom: 1rem;
}

.upload-form {
    text-transform: uppercase;
    color: rgba(0,0,0,0.35);
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0 0 0.3rem;
}

.upload-form > div,
.upload-form > .form-input > div {
    float: none !important;
}

.upload-form input[type="file"] {
    width: 100%;
    margin-bottom: 1rem;
}

.edit-submit {
    margin-top: 2rem;
}

.opacity-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #93C01F;
    padding: 0.7rem 1.2em;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.opacity-slider input {
    width: 100%;
    margin: 0 1rem;
}

.opacity-slider .range-end {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}

.form-btns .btn {
    margin-right: 1rem;
}

.tabs {
    margin: 0 0 1rem;
    padding: 0 0 1rem;
    border-bottom: 2px solid #efefef;
}

.tabs li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.35);
    font-weight: 700;
    padding: 0.5em 0.8em;
    border-radius: 2px;
    font-size: 0.8rem;
    cursor: pointer;
}

.tabs li:hover,
.tabs li.selected {
    background: #93C01F;
    color: #fff;
}


/*--------------------------------------------------------------
# Entry Content
--------------------------------------------------------------*/

.entry-content > * + * {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.entry-content h1 + *,
.entry-content h2 + *,
.entry-content h3 + *,
.entry-content h4 + *,
.entry-content h5 + *,
.entry-content h6 + * {
    margin-top: 1rem;
}



/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.search-with-map {
    padding: 2rem 0 0;
    background: #F3FFD9;
}

    .search-with-map__form {
        margin-bottom: 2rem;
    }

    .search-with-map__title {
        color: #93C01F;
        font-size: 1.8rem;
        margin: 0 0 1.5rem;
        line-height: 1.3;
    }

    @media (min-width: 992px) {
        .search-with-map__title {
            font-size: 2.3rem;
        }
    }

    .search-with-map__inside {
        margin-left: calc(16px + 1rem);
    }

    @media (min-width: 992px) {
        .search-with-map__inside {
            margin-left: calc(22px + 1.5rem);
        }
    }

    @media (min-width: 1200px) {
        .search-with-map__inside {
            margin-left: calc(22px + 2rem + 1.5rem);
        }
    }

.save-your-search {
    padding: 3rem 0;
    background: #F3FFD9;
}

.ol-overlay-container.ol-selectable {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: auto !important;
}

#map {
    height: 600px;
}

#map.is-orchard {
    height: 550px;
}

div#map-popup {
    font-size: 1rem !important;
    background: #fff !important;
    opacity: 1 !important;
    border: none !important;
    border-radius: 0 !important;
    filter: none !important;
    height: 100% !important;
    padding: 3.5rem 2rem !important;
    box-shadow: 0 2px 5px 2px rgba(45,40,70,.26);
    width: 330px;
    overflow-y: auto;
}

    div#map-popup .closebox {
        width: 15px;
        height: 15px;
    }

    div#map-popup h2 {
        color: #007334;
    }

    div#map-popup .closebox {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        cursor: pointer;
        transition: opacity 0.15s ease;
    }

    div#map-popup .closebox:hover,
    div#map-popup .closebox:focus,
    div#map-popup .closebox:active {
        opacity: 0.8;
        transition: opacity 0.15s ease;
    }

.search-result-list {
    padding: 3rem 0 2rem;
    background: #fff;
}

.search-result-list__inside {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.search-result-list__item {
    list-style: none;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #efefef;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.search-result-list__item-images {
    margin-bottom: 0.3rem;
}

.search-result-list__item-title {
    font-size: 0.9rem;
}

.search-result-list__item img {
    width: 24px;
    height: auto;
    margin-right: 0.7rem;
    display: inline-block;
}



/*--------------------------------------------------------------
# Data List
--------------------------------------------------------------*/

.data-list {
    margin: 0;
    padding: 0;
}
    .data-list li {
        list-style: none;
    }

    .data-list > * + * {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px dashed rgba(0,0,0,0.1);
    }

.data-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .data-list-item__helper {
        margin-right: 1rem;
    }

    .data-list-item__title {
        font-size: 1.3rem;
        margin: 0 0 0.3rem;
    }

    .data-list-item__meta {
        color: #B3B3B3;
        display: block;
    }

    .data-list-item .del-link {
        cursor: pointer;
        transition: opacity 0.15s ease;
    }

    .data-list-item .del-link:hover,
    .data-list-item .del-link:focus,
    .data-list-item .del-link:active {
        opacity: 0.6;
    }



/*--------------------------------------------------------------
# Data Table
--------------------------------------------------------------*/

.data-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.data-table.is-align-left th {
    text-align: left;
}

.data-table.is-dark th,
.data-table.is-dark td {
    border: 1px solid #007334;
    background-color: transparent;
}

.data-table th {
    text-align: right;
    border: 1px solid #F3FFD9;
    background-color: #F3FFD9;
    padding: 0.6rem 1.2rem;
    width: 30%;
}

.data-table td {
    text-align: left;
    border: 1px solid #F3FFD9;
    padding: 0.6rem 1.2rem;;
}

.data-table-list {
    margin: 0;
    padding: 0;
}

.data-table-list li {
    list-style: none;
}



/*--------------------------------------------------------------
# Orchard
--------------------------------------------------------------*/

.orchard-hero {
    background: #F3FFD9;
    padding: 4rem 0;
    position: relative;
}

@media (min-width: 992px) {
    .orchard-hero {
        padding: 5rem 0;
    }

    .orchard-hero__inside {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.orchard-hero__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
}

.orchard-hero__close span {
    display: inline-block;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: opacity 0.15s ease;
}

.orchard-hero__close span img {
    width: 20px;
    height: 20px;
}

.orchard-hero__close span:hover {
    opacity: 0.7;
    transition: opacity 0.15s ease;
}

.orchard-hero__title {
    margin: 0 0 1rem 0;
    color: #007334;
    font-size: 1.5rem;
}

.orchard-hero__title.is-large {
    font-size: 1.6rem;
}

@media (min-width: 992px) {
    .orchard-hero__title.is-large {
        font-size: 1.9rem;
    }
}

.orchard-form__title {
    margin: 0 0 0.5rem 0;
    color: #007334;
    font-size: 1.1rem;
}

.orchard-form textarea {
    min-height: 140px;
    height: 140px;
}

.product-box {
    margin-bottom: 3rem;
}

.product-box__title {
    font-size: 1.3rem;
    color: #007334;
    margin: 0 0 0.6rem;
}

.product-box__description {
    margin-bottom: 0;
}

.product-box__image-wrapper {
    margin-bottom: 1rem;
}

.product-box__image {
    width: 100%;
}

.product-box-list {
    margin: 0;
    padding: 0;
}

.product-box-list > * + * {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px dashed #efefef;
}

.product-box-list__item {
    list-style: none;
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
}

.product-box-list__item .help-icon {
    height: 22px;
    width: auto;
}

.product-box-list__item:hover .show-on-hover {
    opacity: 1;
    transition: opacity 0.15s ease;
}

.product-box-list__item .show-on-hover {
    display: flex;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.product-box-list__item .show-on-hover > * {
    width: 20px;
    display: inline-block;
    transition: opacity 0.15s ease;
}

.product-box-list__item .show-on-hover > *:hover {
    opacity: 0.7;
    transition: opacity 0.15s ease;
}

.gallery {
    margin: 0;
    padding: 0;
    display: flex;
}

.gallery li {
    list-style: none;
    margin: 0 1rem 1rem 0;
}

.gallery li img {
    height: 90px;
    width: auto;
}

div#lease-help { display: none; }
div.booking-form { display: none; }

.tree-edit-helper {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.tree-edit-helper > * {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}

.tree-edit-helper .custom-checkbox__label {
    margin: 0;
}


/* Trees */

.tree_list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tree_list > li {
    margin: 0.5rem 0;
    width: 100%;
}

@media (min-width: 1000px) {
    .tree_list {
        margin: 0 3rem;
    }

    .tree_list > li {
        width: 48%;
    }
}

.tree_list li {
    list-style: none;
}

.tree_list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tree_list__header .helper {
    display: flex;
    align-items: center;
}

.tree_list__header .mapVisible {
    margin-right: 0.5rem;
    cursor: pointer;
}

.tree_list__header .mapVisible img {
    width: 24px;
    height: 24px;
    border-radius: 1815px;
}

.tree_list__header-color-marker {
    width: 24px;
    height: 24px;
    border-radius: 18px;
    display: block;
    margin-right: 0.5rem;
}

.tree_list__header-label {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
}

.tree_list__header.is-visible .expand-btn {
    transform: rotate(180deg) translateY(-3px);
}

.trees {
    margin: 1rem 0 1rem 0;
    display: none;
    padding: 0 0 0 2rem;
}

.trees.is-visible {
    display: block;
}

.trees > * + * {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px dashed #efefef;
}

.trees .privateTree {
    color: #CE191D;
    font-weight: 700;
}

.trees .treeline__helper {
    display: flex;
    align-items: center;
    position: relative;
}

.trees .treeline__helper.is-visible .expand-btn {
    transform: rotate(180deg) translateY(-3px);
}

.trees .treeline:hover .show-on-hover {
    opacity: 1;
    transition: 0.15s ease;
    visibility: visible;
}

.trees .treeline .has-no-picking-date {
    height: 18px;
    width: auto;
    margin: 0;
    position: absolute;
    top: calc(50% - 9px);
    left: -30px;
}

.trees .treeline .service-icon {
    width: 34px;
    height: 34px;
    margin: 0 0.5rem;
}

.trees .treeline .show-on-hover {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.15s ease;
    visibility: hidden;
    margin-left: auto;
}

.trees .treeline .show-on-hover > * {
    margin: 0 0 0 0.5rem;
    transition: 0.15s ease;
}

.trees .treeline .show-on-hover > *:hover {
    opacity: 0.7;
    transition: 0.15s ease;
}

.trees .treeline .show-on-hover img,
.trees .treeline .show-on-hover input[type="image"] {
    width: 20px;
    height: 20px;
}

.trees .treeline form.inline {
    height: 18px;
}

.treeline__name-helper {
    max-width: 50%;
    line-height: 1.3;
    position: relative;
}

.tree_details {
    padding-top: 0.5rem;
    position: relative;
    display: none;
}

.tree_details.is-visible {
    display: block;
}

.tree_details table {
    width: 100% !important;
}

/*
.tree_details::before {
    content: '';
    position: absolute;
    top: 1rem;
    bottom: 0;
    left: -1rem;
    width: 1px;
    background: #f1f1f1;
}*/

.tree_details > * + * {
    margin-top: 0.5rem;
}

.tree_details div {
    font-size: 0.9rem;
}

.req_level {
    width: 90px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.expand-btn {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: 0.15s ease;
}

.expand-btn::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 8px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #333;
    display: inline-block;
}

.expand-btn:hover {
    opacity: 0.7;
    transition: 0.15s ease;
}

.booking-form {
    background: #fff;
    padding: 2rem;
    border: 1px solid #efefef;
    margin: 1rem 0;
    line-height: 1.9;
    position: relative;
    font-size: 0.9rem;
}

.booking-form .closebox {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.booking-form .header {
    font-weight: 700;
}

.booking-form .custom-checkbox {
    margin-top: 1rem;
    margin-bottom: 0;
}

.login-to-see-text {
    margin-top: 1rem;
    text-align: center;
}

.product-photos img {
    margin: 0 1rem 1rem 0;
    width: 100px;
}

/** List format */
ul:not([class]) {
    list-style-type: none;
}
ul:not([class]) > li {
    text-indent: -15px;
}
ul:not([class]) > li:before {
    content: "-";
    margin-right: 10px;
}

/** Bigger SVG */
.item_image--large {
    max-height: 340px;
    max-width: 350px;
}

/** Green headers */
.site-main h2,
.site-main h3,
.site-main h4,
.site-main h5,
.site-main h6 {
    color: #007334;
}

/** Helptext */
label + .helptext {
    margin-top: -0.5rem;
    padding-left: 35px;
}
.input-group + .helptext {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

