{% load l10n %}
<div class="opacity-slider">
    <span class="range-end">satellite</span>
    <input type="range" value="1" step="0.05" max="1" min="0" id="layeropacity">
    <span class="range-end">plan</span>
</div>
<div class="input-group">
    <input type="hidden" class="vSerializedField input-group__field required" name="{{ name }}" id="{{ id }}" value="{{ serialized }}">
</div>

<div id="map" class="map"></div>

<script type="text/javascript">
    var points = ['{{ serialized|safe }}'];
    bdnmap.init('map', points, {
        {% if resolution %}resolution: {{ resolution|unlocalize }},{% endif %}
        defaultLon: {{ default_lon|unlocalize }},
        defaultLat: {{ default_lat|unlocalize }}
    });
    bdnmap.make_editable();
</script>

<div class="row">
  <div class="col-12 col-md-6">
      <div class="input-group mb0 mt1r">
          <label class="input-group__label">Lon:</label>
          <input type="text" class="input-group__field" placeholder="Lon" disabled id="id_longitude">
      </div>
  </div>
  <div class="col-12 col-md-6">
      <div class="input-group mb0 mt1r">
          <label class="input-group__label">Lat:</label>
          <input type="text" class="input-group__field" placeholder="Lat" disabled id="id_latitude">
      </div>
  </div>
</div>
