{% extends "base.html" %}

{% block content %}

<div class="news-page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-7">
        <h1 class="page-header">{% trans "News" %}</h1>
        <div class="news-items">
          {% for news in object_list %}
          <div class="news-item">
            <span class="news-item__meta">{{ news.pub_date|date:"F Y" }}</span>
            <div class="news-item__description">
              {{ news.content|safe }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
