<div class="accordion">
    <div class="accordion__inside">
        <div class="accordion-item" data-id="1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="1">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans "What's offered to me" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/possible_offers.html' %}
        </div>
        <div class="accordion-item" data-id="2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="2">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans "How to proceed" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper">
                    <div class="container">
                        <div class="row justify-content-center step-info-boxes">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-01.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans "Create a new account at no cost and save a search" %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-02.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans "Examine the detailed proposal from meinobstgarten.ch" %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-03.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans "Arrange details with orchard contact person and make your order" %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-04.svg' %}" alt="" class="step-info-box__image">
                                    {% url 'safety' as link %}
                                    <p class="step-info-box__description">{% blocktrans %}Take note about <a href="{{ link }}">fruit collection tips</a> or seek advice{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-05.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% blocktrans %}Share the ambience in the orchard <a href="https://www.facebook.com/raphael.haener/" target="_blank">here</a>{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/search-step-06.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans "Bite into freshly picked fruit or make your best fruit preparation" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-id="3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="3">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="plus">
                            <h2>{% trans "Safety first" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="accordion-item__content-inside">
                                    <div class="highlight">
                                        <p>{% trans "Unfortunately, the dangers of handling ladders are often underestimated." %}</p>
                                        <p><b>{% trans "You are responsible for your own safety." %}</b></p>
                                        <p>{% trans "The association Wildbiss rejects any liability for accidents." %}</p>
                                    </div>
                                    <div style="margin-top: 1em;">{% trans "therefore:" %}
                                        <ul>
                                            <li>{% trans "Observe the safety instructions of this leaflet" %}</li>
                                            <li>{% trans "Please note the general terms and conditions of meinobstgarten.ch" %}</li>
                                            <li>{% trans "Note the agreement with the tree owner" %}</li>
                                            <li>{% trans "Make an liability insurance (tree owner + picker)" %}</li>
                                        </ul>
                                    </div>

                                    <div>
                                        <a href="{% url 'safety' %}">{% trans 'Read more about safety' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
