{% extends 'base.html' %}
{% load orchard %}

{% block extra_head %}
    {% include 'geo_headers.html' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/collect.js' %}"></script>
    <script>
        var orchardDetailsURL = "{% url 'orchard-map-details' 0 %}";
        var selectedIcon = "{% static 'img/geo-pointer-reversed.svg' %}";
        var startPoints = [];

        {% for item in orchards %}
        startPoints.push('{{ item.0|as_geojson }}');
        {% endfor %}
    </script>
{% endblock %}

{% block content %}

    {% include 'collect/hero.html' %}

    {% include 'collect/accordion.html' %}

    <div id="search-with-map" class="search-with-map">
        {% include 'collect/search-form.html' %}

        <div style="display: none;">
            <div id="map-popup" title="{% trans 'Details' %}"></div>
        </div>

        <div id="map"></div>
    </div>

    <div id="result-list" class="search-result-list" style="{% if search_form.is_bound %} display: block; {% else %} display: none; {% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                    <div id="orchard-list" class="search-result-list__inside">
                        {% if search_form.is_bound %}{% include 'orchard_search_list.html' %}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'collect/save-form.html' %}

{% endblock %}
