<div class="site-hero has-image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <img class="site-hero__image" src="{% static 'img/illu_suche.svg' %}">
            </div>
            <div class="col-12 col-md-8">
                <h2 class="site-hero__subtitle">{% trans 'Fruit searching' %}</h2>
                <h1 class="site-hero__title is-dark">{% trans 'Search for and find fruit in your area' %}</h1>

                <div class="site-hero__description">
                    <p>{% trans "On meinobstgarten.ch you will find fruit trees with ripe-for-picking fruits in your area. You can save your search and meinobstgarten.ch informs you as soon as any result is found matching your search. The closer the harvest date, the bigger your chances are." %}</p>
                </div>
                {% if not user.is_authenticated %}
                <div class="site-hero__btns">
                    <a href="{% url 'login' %}" class="btn">{% trans 'Log in' %}</a>
                    <br>
                    <a href="{% url 'create_account_user' %}" class="btn">{% trans 'Create a free account' %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
