<div id="savesearch-div" class="save-your-search" {% if not search_form.is_bound %}style="display: none;"{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% if user.is_authenticated %}
                    <p>{% trans 'You can <strong><a href="#" id="savesearch-link">save this search</a></strong> and regularly get informed about new results.' %}</p>
                    <form id="savesearch-form" class="hidden" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="input-group">
                                    <label for="id_name" class="input-group__label">{% trans 'Name:' %}</label>
                                    <input class="input-group__field" type="text" name="name" maxlength="200" required="" id="id_name">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="input-group">
                                    <label for="id_name" class="input-group__label">{% trans 'Notification interval:' %}</label>
                                    <select class="input-group__field" name="interval" id="id_interval">
                                        <option value="" selected="">Never</option>
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="form_data" id="id_form_data">

                        <button class="btn" type="submit" formaction="{% url 'search-save' %}">{% trans 'Save Search' %}</button>
                    </form>
                {% else %}
                    {% url 'login' as login_url %}
                    <p>{% blocktrans %}You can save your searches and be alerted for new opportunities when you are <a href="{{ login_url }}">logged in</a>.{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
