{% load orchard %}
<div class="container">
    <div class="row search-with-map__form">
        <div class="col-12">
            <div class="search-with-map__inside">
                <h2 class="search-with-map__title">{% trans "Search" %}</h2>
                <form id="search-form" method="GET" action=".">
                    <div class="row">
                        <div class="col-12">
                            {{ search_form.typ|label_tag }}
                            {% for typ in search_form.typ.field.choices %}
                                <div class="input-group no-margin">
                                    <label for="id_{{ typ.0 }}" class="custom-checkbox">
                                        <input
                                            class="custom-checkbox__input"
                                            type="checkbox"
                                            id="id_{{ typ.0 }}"
                                            name="{{ search_form.typ.name }}"
                                            value="{{ typ.0 }}"
                                            {% if typ.0 in search_form.typ.value or not search_form.typ.value %} checked {% endif %}
                                        >
                                        <span class="custom-checkbox__label">{{ typ.1 }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="input-group">
                                {{ search_form.category|label_tag }}
                                <select id="id_category" name="{{ search_form.category.name }}" class="input-group__field">
                                    {% for fruit in search_form.category.field.choices %}
                                        <option value="{{ fruit.0 }}" {% if search_form.category.value|stringformat:'s' == fruit.0|stringformat:'s' %} selected {% endif %}>
                                            {% trans fruit.1 %}
                                        </option>
                                    {% endfor %}
                                </select>
                                {{ search_form.category.errors }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="input-group">
                                {{ search_form.from_loc|label_tag }}
                                <input id="id_from_loc" class="input-group__field ui-autocomplete-input"
                                       placeholder="{{ search_form.from_loc.label }}" type="text" name="{{ search_form.from_loc.name }}"
                                       autocomplete="off" value="{{ search_form.from_loc.value|default:'' }}"
                                       data-url="{% url 'location-search' %}">
                                {{ search_form.from_loc.errors }}
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="input-group">
                                {{ search_form.radius|label_tag }}
                                <input
                                    placeholder="{% trans 'km' %}"
                                    class="input-group__field"
                                    type="number"
                                    name="{{ search_form.radius.name }}"
                                    min="0"
                                    id="id_radius"
                                    value="{{ search_form.radius.value|default:'' }}"
                                >
                                {{ search_form.radius.errors }}
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group no-margin">
                                <label for="id_only_avail" class="custom-checkbox">
                                    <input
                                        class="custom-checkbox__input"
                                        type="checkbox"
                                        id="id_only_avail"
                                        name="{{ search_form.only_avail.name }}"
                                        {% if search_form.only_avail.value %} checked {% endif %}
                                    >
                                    <span class="custom-checkbox__label">{{ search_form.only_avail.label }}</span>
                                </label>
                            </div>
                            <div class="input-group no-margin">
                                <label for="id_only_pickable" class="custom-checkbox">
                                    <input
                                        class="custom-checkbox__input"
                                        type="checkbox"
                                        id="id_only_pickable"
                                        name="{{ search_form.only_pickable.name }}"
                                        {% if search_form.only_pickable.value %} checked {% endif %}
                                    >
                                    <span class="custom-checkbox__label">{{ search_form.only_pickable.label}}</span>
                                </label>
                                <span class="helptext">{% trans "Outside of the fruit season, you'll get few results if you check this box." %}</span>
                            </div>
                        </div>

                        <div class="col-12">
                            <div id="result-count" class="mt2r message is-warning">{% if search_form.is_bound %}{% blocktrans count num=orchards|length %}Your search returned {{ num }} orchard.{% plural %}Your search returned {{ num }} orchards.{% endblocktrans %}{% endif %}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
