{% extends "base.html" %}

{% block title %} {% trans "Error: access denied" %} {% endblock %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Error: access denied" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <p>{{ exception }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
