{% extends "base.html" %}

{% block title %} {% trans "Error: server error (500)" %} {% endblock %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Server Error" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <p>{% trans "We're sorry but a server error has occurred." %}</p>
                <p>{% trans "The server administrators have been alerted and will try to resolve it as soon as possible." %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
