{% extends "base.html" %}

{% block content %}


<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "About us" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <p id="video-intro">{% trans "The concept of meinobstgarten.ch in 111 seconds:" %}</p>

                <div class="responsive-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bnXV4Ufal1k" frameborder="0" allowfullscreen></iframe>
                </div>

                <h2>{% trans "Flyer meinobstgarten.ch" %}</h2>
                    <p>{% trans "German:" %} <a href="/media/Flyer-MeinObstgarten-Print-DE.pdf">A4</a> - <a href="/media/Flyer-MeinObstgarten-DU-deutsch_2_.pdf">{% trans "A6 foldable" %}</a><br>
                    {% trans "French:" %} <a href="/media/Flyer-MeinObstgarten-Print-FR.pdf">A4</a> - <a href="/media/Flyer-MeinObstgarten-DU-franzoesisch_2_.pdf">{% trans "A6 foldable" %}</a></p>

                <h2>{% trans "Project management" %}</h2>
                <ul>
                    <li>Raphael Häner, {% trans "Forstingenieur ETHZ, Managing Director Association Wildbiss, project manager meinobstgarten.ch" %}<br>
                        <a href="mailto:raphael.haener@meinobstgarten.ch">raphael.haener@meinobstgarten.ch</a>, 079 402 17 56
                    </li>
                    <li>Manuela Schmutz,  {% trans "Board Association Wildbiss" %}</li>
                    <li>Daniel Landolt, {% trans "Board Wildbiss" %}</li>
                    <li>Pierre-Alain Niklaus, {% trans "Board Wildbiss" %}</li>
                    <li>Marcus Ulber, {% trans "President Association Wildbiss" %}</li>
                    <li>Christoph Märki, {% trans "Member of Association Wildbiss" %}</li>
                </ul>

                <h3><a href="{% url 'safety' %}">{% trans "Safety data sheet" %}</a></h3>

                <h3><a href="{% url 'taxes' %}">{% trans "Gebührenreglement" %}</a></h3>

                <h3><a href="{% url 'impressum' %}">Impressum</a></h3>

                <h2>{% trans "Project address" %}</h2>
                <p>meinobstgarten.ch<br>
                c/o Raphael Häner<br>
                Drosselweg 12<br>
                4242 Laufen<br>
                <b>Facebook</b>: <a href="https://www.facebook.com/raphael.haener/">{% trans "meinobstgarten.ch on Facebook" %}</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
