<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "My Orchard" %} {% block htitle %}{{ title }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/refresh-main.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/obstgarten.js' %}"></script>
    <script src="{% static 'js/canvi.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <!-- Canvi -->
    {% include 'partials/canvi.html' %}

    <div class="js-canvi-content canvi-content">
        <!-- Header -->
        {% include 'partials/header.html' %}

        <main class="site-main">
            <!-- Breadcrumbs -->
            {% comment %}
                {% include 'partials/breadcrumbs.html' %}
            {% endcomment %}

            <!-- Messages -->
            {% if messages %}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="messages">
                                {% for message in messages %}
                                    <p{% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>{{ message|linebreaksbr }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!-- Content -->
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        {% include 'partials/footer.html' %}
    </div>
</body>
</html>
