<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="//api3.geo.admin.ch/loader.js?{% if debug %}mode=debug&{% endif %}version=4.3.2&lang={{ LANGUAGE_CODE }}" type="text/javascript"></script>
<script src="{% static 'js/geoadmin.js' %}"></script>
