{% extends "base.html" %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Impressum" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <h3>{% trans "Editor" %}</h3>
                <p>{% trans "Address:" %}<br>
                {% trans "meinobstgarten.ch" %}<br>
                c/o Wildbiss<br>
                Drosselweg 12<br>
                4242 Laufen<br>
                {% trans "Phone:" %} +41 (0)79 402 17 56<br>
                {% trans "Internet:" %} <a href="mailto:raphael.haener@meinobstgarten.ch">https://www.meinobstgarten.ch</a><br>
                <a href="mailto:raphael.haener@meinobstgarten.ch">info@meinobstgarten.ch</a>
                </p>

                <h3>{% trans "Open Source Project - GNU Affero General Public License" %}</h3>
                <p>{% blocktrans %}Die Plattform meinobstgarten.ch ist ein Open Source Projekt. Der Code der Plattform wurde unter der <a href="https://de.wikipedia.org/wiki/GNU_Affero_General_Public_License">GNU Affero General Public Lizenz</a> veröffentlicht.{% endblocktrans %}</p>

                <h3>{% trans "Urheberrecht, Markenrecht" %}</h3>
                <p>{% blocktrans %}Das Urheberrecht für sämtliche publizierten Inhalte liegt bei meinobstgarten.ch sowie dem Verfasser des Beitrags. Texte, Bilder, Audio- und Video-Dateien oder sonstige Inhalte dürfen nur privat oder mit Quellenangabe für redaktionelle Beiträge in den Medien verwendet werden. Jede andere, insbesondere kommerzielle Verwendung ist nur mit ausdrücklichem Einverständnis von meinobstgarten.ch erlaubt.{% endblocktrans %}</p>

                <h3>{% trans "Limitation of liability" %}</h3>
                <p>{% blocktrans %}Die Inhalte unserer Seiten wurden mit grösster Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernimmt meinobstgarten.ch keine Haftung. Ebenso lehnt sie jede Haftung für Schäden irgendwelcher Art ab, die durch die Benutzung der Website entstehen. Die auf unserer Website bereitgestellten Informationen dienen einzig Informationszwecken und deren Anwendung liegt in der Verantwortung der Nutzer. Externe Links sind klar als solche gekennzeichnet. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.{% endblocktrans %}</p>

                <h3>{% trans "Project management" %}</h3>
                {% url 'about' as about %}
                <p>{% blocktrans %}See <a href="{{ about }}">"about us"</a>{% endblocktrans %}</p>

                <p><i>{% trans "Update on:" %} 31.12.2017</i></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
