{% extends "base.html" %}

{% block breadcrumb %}{% endblock %}

{% block content %}

{% if not about_closed %}
<div class="site-hero">
    <img class="site-hero__close" src="{% static 'img/close-icon-green.svg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="site-hero__inside">
                    <h2 class="site-hero__subtitle">{% trans 'What is meinobstgarten.ch?' %}</h2>
                    <h1 class="site-hero__title">{% trans 'A platform for fruit sharing' %}</h1>

                    <div class="site-hero__description">
                        <p>{% trans "On meinobstgarten.ch you will find fruit trees with ripe fruit in your area! You want to try a Berner Rose, looking for fruits for a desert or fallen fruits for your own liquor, but do not know where and when can get that?" %}</p>

                        <p>{% trans "We want meinobstgarten.ch to be" %}</p>
                        <ul>
                            <li>{% trans "make pure, tasty fruit easily accessible" %}</li>
                            <li>{% trans "contribute to the preservation and enhancement of old, rare varieties of fruit" %}</li>
                            <li>{% trans "connect urban and rural areas with the help of modern means of communication" %}</li>
                            <li>{% trans "make a contribution against food waste" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if pickables %}
<div class="fruity-alerts">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 fruity-alerts__inside">
                {% regroup pickables by species as species %}
                {% for trees in species %}
                    <div class="fruity-alert">
                        <span>{% trans 'News' %} </span>
                        <h3 class="fruity-alert__title">
                            <a href="{% url 'collect' %}?category={{ trees.grouper.pk }}&only_avail=on">{{ trees.grouper }} {{ trees.list|length }}x</a>
                        </h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="testimonials">
    <div class="testimonial-item">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 offset-md-1 testimonial-item__first-column">
                    <a href="{% url 'collect' %}?typ=tree&typ=self">
                        <img src="{% static 'img/illu_suche.svg' %}" class="testimonial-item__image item_image--large">
                    </a>
                </div>
                <div class="col-12 col-md-6 testimonial-item__second-column">
                    <h3 class="testimonial-item__subtitle">{% trans 'Fruit searching' %}</h3>
                    <h2 class="testimonial-item__title">{% trans 'You want to pick fruit by yourself?' %}</h2>
                    <a href="{% url 'collect' %}?typ=tree&typ=self" class="btn testimonial-item__btn">{% trans "Here you go" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-item is-green">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 testimonial-item__second-column order-2 order-md-1">
                    <h3 class="testimonial-item__subtitle">{% trans 'Product searching' %}</h3>
                    <h2 class="testimonial-item__title">{% trans 'You want to buy finished products from fruits?' %}</h2>
                    <a href="{% url 'collect' %}?typ=picked&typ=prod" class="btn testimonial-item__btn">{% trans "Here you go" %}</a>
                </div>
                <div class="col-12 col-md-4 testimonial-item__first-column order-1 order-md-2">
                    <a href="{% url 'collect' %}?typ=picked&typ=prod">
                        <img src="{% static 'img/produkte_suchen.svg' %}" class="testimonial-item__image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-item">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 offset-md-1 testimonial-item__first-column">
                    <a href="{% url 'collect' %}">
                        <img src="{% static 'img/illu_biete.svg' %}" class="testimonial-item__image item_image--large">
                    </a>
                </div>
                <div class="col-12 col-md-6 testimonial-item__second-column">
                    <h3 class="testimonial-item__subtitle">{% trans 'Fruit offering' %}</h3>
                    <h2 class="testimonial-item__title">{% trans 'Offer the fruits of your fruit trees!' %}</h2>
                    <a href="{% url 'offer' %}" class="btn testimonial-item__btn">{% trans "Here you go" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
