{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
  {% include "geo_headers.html" %}

<script type="text/javascript">
{% for item in orchards %}
points.push('{{ item|as_geojson }}');
{% endfor %}
document.addEventListener("DOMContentLoaded", function(event) { 
  bdnmap.init('map', {resolution: 6, format: 'JSON', detailsOnHover: true});
});
var detail_contents = new Array();
var current_content = null;
var selectedIcon = "{% static 'img/geo-pointer-reversed.svg' %}";

function load_object_details(pk) {
    if (pk == current_content) return;
    var detailsDiv = $('#details');
    if (pk) {
        if (detail_contents[pk]) {
            detailsDiv.html(detail_contents[pk]);
        } else {
            detailsDiv.load(detailsDiv.data('loadurl').replace('\/0\/', '\/' + pk + '\/'), function () {
                detail_contents[pk] = detailsDiv.html();
            });
        }
    } else {
        detailsDiv.html('');
    }
    current_content = pk;
}
</script>

<style>
div#map { display: inline-block; height: 500px; width: 58%; }
div#details { display: inline-block; vertical-align: top; width: 38%;}
div#details h2 { margin-top: 0; }
</style>
{% endblock %}

{% block content %}
<div class="onecol">
    <h1>{% trans "Orchard map" %}</h1>
    <div id="map"></div>
    <div id="details" data-loadurl="{% url 'orchard-overview' 0 %}"></div>
    <div class="credit">Icons from Maps Icons Collection <a href="https://mapicons.mapsmarker.com">https://mapicons.mapsmarker.com</a></div>
</div>
{% endblock %}
