{% extends 'base.html' %}

{% block content %}
<div class="site-hero has-image">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center">
                <img class="site-hero__image" src="{% static 'img/illu_biete.svg' %}">
            </div>
            <div class="col-12 col-md-8">
                <h2 class="site-hero__subtitle">{% trans 'Offering fruits' %}</h2>
                <h1 class="site-hero__title is-dark">{% trans 'Your offer' %}</h1>

                <div class="site-hero__description">
                    <p>{% trans "You own one or more fruit trees and can not harvest and eat all the fruits? Create a free account. You determine the price of your fruits and the services - self-picking, available ladder, payment method, orchard contact." %}</p>
                    <p>{% trans "Would you act as a mediator? With the agreement of tree owners, you can also enter fruit trees on this site as mediator." %}</p>
                </div>
                <div class="site-hero__btns">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}" class="btn">{% trans 'Log in' %}</a>
                        <br>
                        <a href="{% url 'create_account_owner' %}" class="btn">{% trans 'Create a free account' %}</a>
                    {% else %}
                        {% if user.is_owner %}
                            <a href="{% url 'my-orchards' %}" class="btn">{% trans 'My orchards' %}</a>
                            <br>
                        {% endif %}
                        <a href="{% url 'orchard_new' %}" class="btn">{% trans 'Create orchard' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion__inside">
        <div class="accordion-item" data-id="1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="1">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans 'My possible offering' %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/possible_offers.html' %}
        </div>
        <div class="accordion-item" data-id="2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="2">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans 'How to proceed' %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper">
                    <div class="container">
                        <div class="row justify-content-center step-info-boxes">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/offer-step-01.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">
                                        {% url 'create_account_owner' as create %}
                                        {% blocktrans %}Create a <a href="{{ create }}">free account</a>{% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/offer-step-02.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans 'Setup, describe and photograph your virtual orchard' %}</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="step-info-box">
                                    <img src="{% static 'img/new-assets/offer-step-03.svg' %}" alt="" class="step-info-box__image">
                                    <p class="step-info-box__description">{% trans 'Enter all trees and service offers' %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-id="3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="3">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans 'What are the costs' %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-10 col-lg-8">
                                <div class="accordion-item__content-inside">
                                {% include 'partials/taxes.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
