{% extends 'base.html' %}
{% load orchard %}

{% block extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {{ form.media }}
    <style>
        tr#tr-i_am_owner th * { display: none; }
        ul#id_i_am_owner { list-style-type: none; padding: 0; margin: 0; }
        tbody#real-owner { display: none; }
        textarea#id_real_owner_addr { height: 3em; }
        textarea#id_real_owner_paiement_info { height: 3em; }
    </style>
    <script type="text/javascript">
        function radioHandler (value) {
            // Display the real owner part only when the appropriate radio button is chosen
            document.querySelectorAll('[data-field^="real_owner"]').forEach(function (el) {
                if (value == 'True') {
                    el.style.display = 'none';
                } else {
                    el.style.display = 'block';
                }
            });
        }
        document.addEventListener("DOMContentLoaded", function(ev) {
            var radios = document.getElementsByName('i_am_owner');
            for (var i = radios.length; i--; ) {
                radios[i].addEventListener('change', function (ev) { radioHandler(this.value); });
                if (radios[i].checked) radioHandler(radios[i].value);
            }
            $('#id_municipality').autocomplete({source: "{% url 'location-search' %}", minLength: 2});
        });
    </script>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% if view.mode == 'add' %}{% trans 'Add a new orchard' %}{% else %}{{ form.instance.name }}{% endif %}</h1>
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <form method="POST" enctype="multipart/form-data" action=".">
                    {% csrf_token %}

                    {% for field in form %}
                        {% include 'partials/form-loop.html' %}
                    {% endfor %}

                    {{ photosformset.management_form }}
                    {{ photosformset.non_form_errors }}

                    {% for form in photosformset %}
                        <div class="upload-form">
                            {% for field in form %}
                                <div class="form-input">
                                    {% if field|is_checkbox %}
                                        <label for="id_{{ field.name }}" class="custom-checkbox">
                                            <input class="custom-checkbox__input" type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}" {% if field.value %} checked {% endif %}>
                                            <span class="custom-checkbox__label">{{ field.label|strip_colon }}</span>
                                        </label>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="form-input">
                        <button type="submit" class="btn">{% if view.mode == 'add' %}{% trans 'Create orchard' %}{% else %}{% trans 'Update orchard' %}{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
