{% extends "base.html" %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{{ orchard }}</h1>
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <form method="post" action="{% url 'orchard_delete' orchard.pk %}">{% csrf_token %}
                    <p><strong>{% trans 'Do you really want to delete this orchard and all its trees?' %}</strong></p>

                    <div>{% trans 'If your products or fruits are not available at this moment, we suggest the following steps instead of deleting the orchard:' %}

                    <ul>
                        <li><strong>{% trans "Products:" %}</strong> {% trans "Mark your orchard products as unavailable by unchecking the Availability box in its edit form." %} {% trans "Next year, you'll be able to make it available again by simply checking that box again." %}</li>
                        <li><strong>{% trans "Fruits:" %}</strong> {% trans "Adapt the dates of the picking periods in the tree edit form, so as site users can easily see when collect time is passed for the current year." %}</li>
                    </ul>

                    {% if has_pending %}
                        <p><strong>{% trans 'You cannot delete the orchard while it has pending product orders and bookings. Cancel them before you try again.' %}</strong></p>
                        <button class="btn" type="button" onclick="window.location='{{ orchard.get_absolute_url }}';">{% trans 'Go back to orchard' %}</button>
                    {% else %}
                        <div class="form-btns mt2r">
                            <button class="btn">{% trans 'Yes, delete this orchard' %}</button>
                            <button class="btn is-secondary" type="button" onclick="window.location='{{ orchard.get_absolute_url }}';">{% trans 'No, go back to orchard' %}</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
