{% if editable %}
    <span class="show-on-hover">
        <a href="{% url 'orchard_edit' orchard.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
        <input type="image" formaction="{% url 'orchard_delete' orchard.pk %}" src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete orchard" onclick="return confirm('{% trans "Do you really want to delete this orchard?" %}');">
    </span>
{% endif %}
