{% load thumbnail %}

<img class="closebox" src="{% static 'img/close_window.svg' %}" title="{% trans 'Close' %}">
<h2>{{ orchard }}</h2>

{% if photo %}{% thumbnail photo "x80" as im %}
  <div style="float: right;"><img src="{{ im.url }}"></div>
{% endthumbnail %}{% endif %}

<div>{{ orchard.description|safe|truncatewords_html:35 }}</div>
<div><a href="{% url 'orchard' orchard.pk %}">{% trans "Full details…" %}</a></div>
