{% extends 'base.html' %}
{% load orchard thumbnail %}

{% block extra_head %}
    {% include 'geo_headers.html' %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="{% static 'vendor/lightbox2/css/lightbox.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
    <script type="text/javascript">
        var current_content = null;
        var hiddenFeatures = new Array();

        function load_object_details(pk) {
            if (pk == current_content) return;
            var highlighted = document.getElementsByClassName("highlight").item(0);
            if (highlighted) highlighted.classList.remove("highlight");
            if (pk) {
                el = document.getElementById('tree-' + pk);
                if (el) {
                    el.classList.add("highlight");
                    // Open species group if currently hidden
                    const section = el.closest('ul').previousElementSibling;
                    if (section && !section.classList.contains('is-visible')) toggleTreeList({'target': section.children[0]});
                    el.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
                }
            }
            current_content = pk;
        }

        function expand_tree_details(event) {
            var subitems = this.parentNode.childNodes;
            for (var i = 0; i < subitems.length; i++) {
                if (subitems[i].className == 'tree_details' || subitems[i].className == 'trees') {
                    subitems[i].style.display = this.innerText == '+' ? 'block' : 'none';
                }
            }
            this.innerText = this.innerText == '+' ? '­—' : '+';
        }

        function showHideBookingForm(event) {
            var div = $(this).parents('.treeline').find(".booking-form");
            if (div.is(':visible')) div.hide();
            else {
                div.load(div.data('url'), function () {
                    $('.closebox').on('click', function (ev) {
                        div.hide();
                    });
                });
                div.show();
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
        var imgs = document.querySelectorAll('img[class="specie-toggle"]');
        for (var i=0; i<imgs.length; i++) {
            imgs[i].addEventListener('click', function() {
                var lis = this.parentNode.parentNode.parentNode.parentNode.querySelectorAll('li.treeline');
                var add = this.src.indexOf('off') > -1;
                var source = bdnmap.pointsLayer.getSource();
                if (source instanceof ol.source.Cluster) source = source.source;
                for (var j=0; j<lis.length; j++) {
                    var pk = lis[j].id.split('-')[1];
                    if (add) {
                        source.addFeature(hiddenFeatures[pk]);
                    } else {
                        hiddenFeatures[pk] = source.getFeatureById(pk);
                        source.removeFeature(hiddenFeatures[pk]);
                    }
                }
                // Switch image
                var new_src = this.dataset.altimg;
                this.dataset.altimg = this.src;
                this.src = new_src;
            });
        }
        var availcb = document.getElementById('only-avail');
        if (availcb) {
            availcb.addEventListener('change', function() {
                var source = bdnmap.pointsLayer.getSource();
                if (source instanceof ol.source.Cluster) source = source.source;
                if (this.checked) {
                    var lis = document.querySelectorAll('ul.trees > li:not(.availtree)');
                    for (var i=0; i<lis.length; i++) {
                        lis[i].classList.add('hidden');
                        // Hide point on the map
                        var pk = lis[i].id.split('-')[1];
                        hiddenFeatures[pk] = source.getFeatureById(pk);
                        source.removeFeature(hiddenFeatures[pk]);
                        // Also hide parent if it has no visible trees
                        if (lis[i].parentNode.querySelectorAll('li.treeline:not(.hidden)').length == 0) {
                            lis[i].parentNode.parentNode.classList.add('hidden');
                        }
                    }
                } else {
                    var lis = document.querySelectorAll('ul.tree_list li.hidden');
                    for (var i=0; i<lis.length; i++) {
                        lis[i].classList.remove('hidden');
                        if (lis[i].classList.contains('treeline')) {
                            // Show point on the map
                            var pk = lis[i].id.split('-')[1];
                            source.addFeature(hiddenFeatures[pk]);
                        }
                    }
                }
            });
        }
        var btns = document.querySelectorAll('span.plusbutton');
        for (var i=0; i<btns.length; i++) {
            btns[i].addEventListener('click', expand_tree_details);
        }
        var bookImgs = document.querySelectorAll('img.service-icon');
        for (var i=0; i<bookImgs.length; i++) {
            bookImgs[i].addEventListener('click', showHideBookingForm);
        }
        var helpIcons = document.querySelectorAll('img.help-icon');
        for (var i=0; i<helpIcons.length; i++) {
            helpIcons[i].addEventListener('click', function () {$('#lease-help').dialog({minWidth: '480'})});
        }
        var mailIcon = document.getElementById('mail-icon');
        if (mailIcon) {
            mailIcon.addEventListener('click', function () {
                var form = document.getElementById('mail-form');
                form.style.display = form.style.display == "block" ? "none" : "block";
            });
        }

        var points = new Array();
        {% if user.is_authenticated %}
            {% for item in trees %}
            points.push('{{ item|as_geojson }}');
            {% endfor %}
        {% else %}
            points.push('{{ trees.0.orchard|as_geojson }}');
        {% endif %}
        bdnmap.init('map', points, {
            resolution: 6, format: 'JSON', detailsOnHover: false, satellite: true
        });
        });  // end DOMContentLoaded

        function toggleTreeList(ev) {
            $(ev.target).parents('.tree_list__header').toggleClass('is-visible').next('.trees').toggleClass('is-visible');
            $(ev.target).parents('.accordion-item__content').css('max-height', 'none');
        }
        $(window).on('load', function() {
            $('.js-open-trees').on('click', toggleTreeList);

            $('.js-open-tree-data').on('click', function() {
                $(this).parents('.treeline__helper').toggleClass('is-visible').next('.tree_details').toggleClass('is-visible');

                $(this).parents('.accordion-item__content').css('max-height', 'none');
            });
        });

        function sortList(ul){
            var new_ul = ul.cloneNode(false);
            var lis = [];
            for(var i = ul.childNodes.length; i--;){
                if(ul.childNodes[i].nodeName === 'LI')
                    lis.push(ul.childNodes[i]);
            }
            lis.sort(function(a, b) {
                a = a.querySelector('.tree_list__header-label').innerHTML.trim();
                b = b.querySelector('.tree_list__header-label').innerHTML.trim();
                if (a < b) return -1;
                if (a > b) return 1;
                else return 0;
            });
            for(var i = 0; i < lis.length; i++)
                new_ul.appendChild(lis[i]);
            ul.parentNode.replaceChild(new_ul, ul);
        }
    </script>
{% endblock %}

{% block content %}

<div class="orchard-hero">
    {% if editable %}
        <div class="orchard-hero__close">
            <span class="edit-icon"><a href="{% url 'orchard_edit' orchard.pk %}"><img src="{% static 'img/pencil.svg' %}" title="{% trans 'Edit' %}"></a></span>
            <span class="delete-icon"><a href="{% url 'orchard_delete' orchard.pk %}"><img src="{% static 'img/icon-deletelink.svg' %}" title="{% trans 'Delete this orchard' %}"></a></span>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="orchard-hero__title">{{ orchard }}</h1>

                <div class="orchard-hero_description entry-content">
                    <div class="description-short">{{ orchard.description|safe|truncatewords_readmore:100 }}</div>
                    <div class="description-long" style="display: none;">
                        {{ orchard.description|safe }}
                        <a href="" class="readless">{% trans "Hide text" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                {% if user.is_authenticated and user != orchard.owner %}
                    <h3 class="orchard-form__title">{% trans "Contact" %}</h3>

                    {% if orchard.real_owner_is_contact %}
                        {{ orchard.real_owner_name }}<br>
                        {{ orchard.real_owner_phone }}<br>
                        {{ orchard.real_owner_email }}<br>
                        {{ orchard.real_owner_addr }}
                    {% else  %}
                        <p>
                            {{ orchard.owner.first_name }} {{ orchard.owner.last_name }}<br>
                            {{ orchard.owner.phone }}<br>
                            {{ orchard.owner.email }}<br>
                            {{ orchard.owner.street }}<br>
                            {{ orchard.owner.pcode }} {{ orchard.owner.city }}
                        </p>
                    {% endif %}

                  <form class="orchard-form" id="mail-form" method="post" action="{% url 'orchard-sendmail' orchard.pk %}">{% csrf_token %}
                      <h3 class="orchard-form__title">{% trans "Send a message to the orchard owner" %}</h3>
                      {{ contact_form.message.errors }}
                      <div class="input-group">
                        <label for="id_message" class="input-group__label">{% trans "Your Message" %}</label>
                        {{ contact_form.message }}
                      </div>
                      <button class="btn">{% trans "Send" %}</button>
                  </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion__inside">
        <div class="accordion-item is-open" data-id="1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="1">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans "Current Offer" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper pb0">
                    <div class="container">
                        <div class="row">
                            {% if not orchard.is_public %}
                                <div class="col-12">
                                    <p class="message is-error mb2r">{% trans "WARNING: offers from private orchards are not publicly visible!" %}</p>
                                </div>
                            {% endif %}

                            {% if trees_bookable %}
                            <div class="col-12 col-sm-6">
                                <div class="product-box">
                                    <div class="row">
                                        <div class="col-3 col-sm-4">
                                            <div class="product-box__image-wrapper">
                                                <img src="{% static 'img/new-assets/obstbaum.svg' %}" alt="" class="product-box__image">
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                            <h3 class="product-box__title">{% trans "Rent Fruit Tree" %}</h3>
                                            <div class="product-box__description">
                                                <ul class="product-box-list" id="product-list">
                                                    {% if has_available_trees %}<li class="product-box-list__item">{% trans "Lease a specific tree in this orchard" %} <span class="edit-icon"><img src="{% static 'img/help.svg' %}" class="help-icon" style="vertical-align: bottom;" title="{% trans 'Click to see help on how to do this' %}"></span></li>{% endif %}

                                                    {% for tree in trees_bookable %}
                                                        <li class="product-box-list__item">
                                                            <a href="{% url 'tree_details' pk=tree.orchard.pk pk_tree=tree.pk %}">{{ tree.variety }}</a>
                                                            <span class="show-on-hover">
                                                                <a href="{% url 'tree_edit' pk=tree.orchard.pk pk_tree=tree.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
                                                                <input type="image" formaction="{% url 'tree_delete' pk=tree.orchard.pk pk_tree=tree.pk %}" src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete tree" onclick="return confirm('Do you really want to delete this product?');">
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% regroup products by typ as types %}

                            {% if types %}
                            {% for type in types %}
                            <div class="col-12 col-sm-6">
                                <div class="product-box">
                                    <div class="row">
                                        <div class="col-3 col-sm-4">
                                            <div class="product-box__image-wrapper">
                                                {% if type.grouper == 'self' %}
                                                    <img src="{% static 'img/selberpflucken.svg' %}" alt="" class="product-box__image">
                                                {% elif type.grouper == 'picked' %}
                                                    <img src="{% static 'img/new-assets/obst.svg' %}" alt="" class="product-box__image">
                                                {% elif type.grouper == 'prod' %}
                                                    <img src="{% static 'img/new-assets/produkt.svg' %}" alt="" class="product-box__image">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-8">
                                            {% if type.grouper == 'self' %}
                                                <h3 class="product-box__title">{% trans "Pick Yourself" %}</h3>
                                            {% elif type.grouper == 'picked' %}
                                                <h3 class="product-box__title">{% trans "Picked Fruit" %}</h3>
                                            {% elif type.grouper == 'prod' %}
                                                <h3 class="product-box__title">{% trans "Products" %}</h3>
                                            {% endif %}
                                            <div class="product-box__description">
                                                <form class="inline" method="post">{% csrf_token %}
                                                <ul class="product-box-list" id="product-list">
                                                    {% for product in type.list %}
                                                        <li class="product-box-list__item">
                                                            <a href="{% url 'product_detail' pk=product.orchard.pk pk_product=product.pk %}"
                                                                {% if not product.availability %} style="color: #bbb;" title="{% trans 'Unavailable, will not appear for the public' %}"{% endif %}
                                                            >
                                                                {{ product.title }}
                                                            </a>
                                                            <span class="show-on-hover">
                                                                <a href="{% url 'product_edit' pk=product.orchard.pk pk_product=product.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
                                                                <input type="image" formaction="{% url 'product_delete' pk=product.orchard.pk pk_product=product.pk %}" src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete product" onclick="return confirm('Do you really want to delete this product?');">
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}

                            <div class="col-12 mb3r align-text--center">
                                {% if editable %}
                                    <a id="new-product-button" class="btn" href="{% url 'product_new' orchard.pk %}">{% trans "Add a product" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item" data-id="2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion-item__title" data-id="2">
                            <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                            <h2>{% trans "The Orchard From Above" %}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item__content">
                <div class="accordion-item__content-helper pt0">
                    {% if trees %}
                        <div id="map" class="map is-orchard"></div>
                        <div class="container mt1r">
                            <div class="row">
                                <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                                    <div class="opacity-slider">
                                        <span class="range-end">satellite</span> <input type="range" value="1" step="0.05" max="1" min="0" id="layeropacity"> <span class="range-end">plan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="accordion-item__content-inside">
                                        <div class="message is-warning mt1r">{% trans "No trees yet in this orchard." %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {% if trees or editable %}
                                <div id="trees">
                                    <div class="tree-edit-helper">
                                        {% if editable %}
                                            <a id="new-tree-button" class="btn" href="{% url 'tree_new' orchard.pk %}">{% trans "Add a tree" %}</a>
                                        {% endif %}
                                        {% if trees and user.is_authenticated %}
                                            <label id="only-avail-label" for="only-avail" class="custom-checkbox">
                                                <input id="only-avail" type="checkbox" class="custom-checkbox__input">
                                                <span class="custom-checkbox__label">{% trans "Show only trees with real pickling opportunities" %}</span>
                                            </label>
                                        {% endif %}
                                    </div>


                                    {% regroup trees by species as tree_list %}
                                    <ul class="tree_list">
                                        {% for specie in tree_list %}
                                            <li>
                                                <div class="tree_list__header">
                                                    <div class="helper">
                                                        {% if user.is_authenticated %}
                                                            <span class="mapVisible" title="{% trans 'Click to hide/show on the map' %}">
                                                                <img class="specie-toggle" src="{% static 'img/map.png' %}" data-altimg="{% static 'img/map_off.png' %}" width="24" height="24">
                                                            </span>
                                                        {% endif %}

                                                        <span class="tree_list__header-color-marker" style="background: {{ specie.grouper.color }}"></span>

                                                        <span class="tree_list__header-label">
                                                            {{ specie.grouper }}
                                                        </span>
                                                    </div>

                                                    {% if user.is_authenticated %}
                                                        <span class="js-open-trees expand-btn" title="{% trans 'Show trees' %}"></span>
                                                    {% endif %}
                                                </div>

                                                {% if user.is_authenticated %}
                                                    <ul class="trees">
                                                        {% for tree in specie.list %}
                                                        {% with available=tree.is_available_now %}
                                                            <li id="tree-{{ tree.pk }}" class="treeline {{ available|yesno:'availtree,'}}">

                                                                <div class="treeline__helper">
                                                                    <span class="treeline__name-helper">
                                                                        <span class="treeline__name">{{ tree.variety }}</span>

                                                                        {% if editable %}
                                                                            {% if tree.availability == 'none' %} - <span class="privateTree" title="{% trans 'Not publicly available' %}">P</span>
                                                                            {% elif not tree.pick_start or not tree.pick_end %}
                                                                              <img class="has-no-picking-date" src="{% static 'img/warning.png' %}" title="{% trans 'This tree is missing pick dates' %}">
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </span>

                                                                    {% if available %}
                                                                        {% if tree.availability == 'whole' %}
                                                                        <img class="service-icon" src="{% static 'img/obstbaum.svg' %}"
                                                                             title="{% trans 'Click here to show the tree booking form' %}">
                                                                        {% elif tree.availability == 'picking' %}
                                                                        <img class="service-icon" src="{% static 'img/selberpflucken.svg' %}"
                                                                             title="{% trans 'Available for self-picking (see products)' %}">
                                                                        {% endif %}
                                                                    {% endif %}

                                                                    {% if editable %}
                                                                      <span class="show-on-hover">
                                                                        <a href="{% url 'tree_edit' orchard.pk tree.pk %}" title="{% trans 'Edit this tree' %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>

                                                                        <a href="{% url 'tree_dup' orchard.pk tree.pk %}" title="{% trans 'Duplicate this tree' %}"><img class="dup-icon" src="{% static 'img/duplicate.svg' %}"></a>

                                                                        <form class="inline" method="post" action="{% url 'tree_delete' orchard.pk tree.pk %}" data-confirm="{% trans 'Do you really want to delete this tree?' %}">{% csrf_token %}
                                                                            <input type="image" src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete tree" title="{% trans 'Delete this tree' %}">
                                                                        </form>
                                                                      </span>
                                                                    {% endif %}

                                                                    {% if tree.variety_descr or tree.general_descr or tree.photos.exists %}
                                                                        <span class="js-open-tree-data expand-btn" title="{% trans 'Show trees' %}"></span>
                                                                    {% endif %}
                                                                </div>

                                                                {% if available and tree.availability == 'whole' %}
                                                                    <div class="booking-form"
                                                                     data-url="{% url 'tree-book' tree.pk tree.next_booking_year %}"></div>
                                                                {% endif %}


                                                                <div class="tree_details">
                                                                    {% if tree.is_habitat %}
                                                                        <div><b>{% trans "This is a habitate tree!" %}</b>
                                                                          {% if tree.habitat_note %}<br>{{ tree.habitat_note }}{% endif %}
                                                                        </div>
                                                                    {% endif %}

                                                                    {% if tree.req_level %}
                                                                        <img class="req_level" src="{{ tree|req_level_img }}" title="{% trans 'Requirement level' %}: {{ tree.get_req_level_display }}">
                                                                    {% endif %}

                                                                    {% if tree.variety_descr %}
                                                                        <div>{{ tree.variety_descr|safe }}</div>
                                                                    {% endif %}

                                                                    {% if tree.general_descr %}
                                                                        <div>{{ tree.general_descr|safe }}</div>
                                                                    {% endif %}

                                                                    {% if tree.photos.exists %}
                                                                        <div>
                                                                            <ul class="gallery">
                                                                                {% for photo in tree.photos.all %}
                                                                                    {% thumbnail photo.image "x80" as im %}
                                                                                    <li>
                                                                                        <a href="{{ photo.image.url }} " data-lightbox="image-{{ tree.id }}">
                                                                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                                                        </a>
                                                                                    </li>
                                                                                    {% endthumbnail %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </li>
                                                        {% endwith %}
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if not user.is_authenticated %}
                                <div class="login-to-see-text">{% url 'login' as login_url %}{% with login_url|add:"?next="|add:request.path as login_url %}
                                     {% blocktrans %}<a href="{{ login_url }}">Login</a> to see more details about this orchard and its trees.{% endblocktrans %}{% endwith %}
                                </div>
                                {% endif %}
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if orchard.photos.all or orchard.pick_details %}
            <div class="accordion-item" data-id="3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="accordion-item__title" data-id="3">
                                <img src="{% static 'img/new-assets/plus-icon.svg' %}" alt="">
                                <h2>{% trans "Gallery & Informations" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <div class="accordion-item__content-helper pt0">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="accordion-item__content-inside">
                                        <div id="photos">
                                            <ul class="gallery">
                                                {% for photo in orchard.photos.all %}
                                                    {% thumbnail photo.image "x80" as im %}
                                                        <li><a href="{{ photo.image.url }} " data-lightbox="image-orchard">
                                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                            </a>
                                                        </li>
                                                    {% endthumbnail %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if editable and orchard.pick_details %}
                                        <div class="private">
                                                <div style="color: #CE191D;" class="entry-content">
                                                    <h3>{% trans "Pick instructions" %}</h3>
                                                    {{ orchard.pick_details|safe }}
                                                </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div id="lease-help">
    <p>Here is how you can book a tree to collect its fruit for this year:</p>
    <ol>
        <li>{% trans "Expand the list of trees of the species you are interested in by clicking on the plus icon." %}<br>
        <img src="{% static 'img/book-step1.png' %}">
        </li>
        <li>{% trans "Click on the tree icon to make the booking form appear." %}<br>
        <img src="{% static 'img/book-step2.png' %}">
        </li>
        <li>{% trans "Click on the Book button." %}</li>
    </ol>
</div>

<script>
    (function() {
        sortList(document.querySelector('.tree_list'))
    })();
</script>
{% endblock %}
