{% for orchard, counter in orchards %}
    <div class="search-result-list__item">
        <div class="search-result-list__item-images">
            {% if counter.trees > 0 %}<img class="prod-icon" src="{% static 'img/obstbaum.svg' %}" title="{% blocktrans count num=counter.trees %}{{ num }} tree{% plural %}{{ num }} trees{% endblocktrans %}">
            {% endif %}
            {% if counter.self > 0 %}<img class="prod-icon" src="{% static 'img/selberpflucken.svg' %}" title="{% trans 'Self-picking is available in this orchard' %}">
            {% endif %}
            {% if counter.picked > 0 %}<img class="prod-icon" src="{% static 'img/gepflucktes_obst.svg' %}" title="{% trans 'You can buy already picked fruits from this orchard' %}">
            {% endif %}
            {% if counter.prod > 0 %}<img class="prod-icon" src="{% static 'img/obstprodukt.svg' %}" title="{% blocktrans count num=counter.prod %}{{ num }} product{% plural %}{{ num }} products{% endblocktrans %}">
            {% endif %}
        </div>
        <div class="search-result-list__item-title">
            <a href="{{ orchard.get_absolute_url }}">{{ orchard.name }}</a>
        </div>
    </div>
{% endfor %}
