{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
<style type="text/css">
    .show-on-hover {
        display: inline-block;
    }
    .show-on-hover a {
        display: inline-block;
    }
    .data-list {
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "My orchards" %}</h1>
                <p>
                    {% trans 'Choose one of your orchards to manage it or to add new fruit offerings related to it.' %}
                </p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <ul class="data-list">
                    {% for orchard in orchard_list %}
                        <li class="data-list-item">
                            <div class="data-list-item__helper">
                                <h2 class="data-list-item__title">
                                    <a href="{% url 'orchard' orchard.pk %}">
                                        {{ orchard.name }}
                                        {% if not orchard.is_public %}
                                            <small style="font-weight: normal;">({% trans 'Private' %})</small>
                                        {% endif %}
                                    </a>
                                    {% include 'orchard_line.html' %}
                                </h2>
                            </div>
                        </li>
                    {% empty %}
                        <li class="message is-warning">{% trans "Sorry, no offers to list here." %}</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'orchard_new' %}" class="btn">{% trans 'Create orchard' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
