{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    var btn = document.getElementById('cancel_btn');
    btn.addEventListener('click', function (ev) {
        document.getElementById('cancel_form').style.display = 'block';
        this.style.display = 'none';
    });
});
</script>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Product Order" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <h2>{% trans "Product:" %} {{ object.product }}</h2>

                <p><strong>{% trans "Orchard:" %}</strong>
                     <a href="{{ object.product.orchard.get_absolute_url }}">{{ object.product.orchard }}</a>
                </p>

                <table id="details" class="data-table">
                    <tr><th>{% trans "Order ID:" %}</th><td>{{ object.order_id }}</td></tr>
                    <tr><th>{% trans "Order status:" %}</th><td>{{ object.get_status_display }}</td></tr>
                    <tr><th>{% trans "Order by:" %}</th><td>
                        <ul class="data-table-list">
                            <li>{{ object.user.get_full_name }}</li>
                            <li>{{ object.user.get_address|linebreaksbr }}</li>
                            <li>{{ object.user.email }}{% if object.user.phone %} / {{ object.user.phone }}{% endif %}</li>
                        </ul>
                    </td></tr>
                    <tr><th>{% trans "Quantity:" %}</th><td>{{ object.quantity }}</td></tr>
                    <tr><th>{% trans "Price per unit:" %}</th><td>CHF {{ object.product.price }}</td></tr>
                    {% if object.product.sending_costs %}<tr><th>{% trans "Shipping costs:" %}</th><td>CHF {{ object.product.sending_costs }}</td></tr>{% endif %}
                    <tr><th>{% trans "Total price:" %}</th><td>{{ object.total_price }}</td></tr>
                </table>

                {% if step == 'confirm' %}
                <p class="helptext">{% blocktrans %}By clicking the Confirm button below, you confirm the availability of the product in the requested quantity and the total price. The client will then receive a confirmation message with due instructions (paiement coordinates, etc.).{% endblocktrans %}</p>
                {% if object.product.typ != 'self' %}
                    <p class="helptext">{% trans "Your engage yourself to send the product to the client as soon as you receive the paiement." %}</p>
                {% endif %}

                <form id="confirmform" method="post" action=".">{% csrf_token %}
                    {{ confirm_form.step }}
                    <div class="input-group">
                        <label class="input-group__label" for="id_remark">{% trans "Remark (sent to the client, if filled):" %}</label>
                        <textarea class="input-group__field" name="remark" cols="40" rows="3" maxlength="500" id="id_remark"></textarea>
                    </div>
                    <button class="btn" type="submit">{% trans "Confirm" %}</button>
                    <span class="btn is-secondary" id="cancel_btn">{% trans "Cancel" %}</span>
                </form>

                {% elif step == 'mark_sent' %}
                <form method="post" action=".">{% csrf_token %}
                    <input type="hidden" name="step" value="sent">
                    <button class="btn" type="submit">{% trans "Product sent" %}</button>
                </form>
                {% endif %}

                {% if object.status == 'sent' %}
                  <p class="message is-warning">{% blocktrans %}The paiment was received and the product sent to the client.{% endblocktrans %}</p>
                {% endif %}


                <form id="cancel_form" method="post" action="." style="display: none;">{% csrf_token %}
                    <input type="hidden" name="step" value="cancel">
                    <div class="input-group">
                        <label for="" class="input-group__label">{% trans "Please provide the cancel reason:" %}</label>
                        <textarea class="input-group__field" name="cancel_reason" required></textarea>
                    </div>
                    <button class="btn is-secondary" type="submit">{% trans "Cancel order" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
