{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
<style type="text/css">
    .show-on-hover {
        display: inline-block;
    }
    .show-on-hover a {
        display: inline-block;
    }
    .data-list {
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Offers from orchards" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                {% regroup object_list by get_typ_display as product_list %}
                {% for typ, products in product_list %}
                    <h3>{{ typ }}</h3>
                    <ul class="data-list">
                        {% for product in products %}
                            <li class="data-list-item">
                                <div class="data-list-item__helper">
                                    <h2 class="data-list-item__title"><a href="{{ srch.url }}">{{ srch.name }}</a></h2>
                                    <span class="data-list-item__meta">{{ product.avail_dates|date_tuple_to_string }}</span>
                                    <span class="data-list-item__meta">{% include 'product_line.html' %}</span>
                                    <span class="data-list-item__meta">
                                        {% blocktrans with orchard=product.orchard url=product.orchard.get_absolute_url trimmed %}
                                            From orchard <a href="{{ url }}">{{ orchard }}</a>.
                                        {% endblocktrans %}
                                    </span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% empty %}
                    <div class="message is-warning">{% trans "Sorry, no offers to list here." %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
