{% if not product.availability %}<span class="product-unavailable">{% endif %}
<a href="{{ product.get_absolute_url }}">{{ product }}</a>
{% if not product.availability %} – {% trans "Unavailable" %}</span>{% endif %}
{% if editable %}
<span class="show-on-hover">
    <a href="{% url 'product_edit' product.orchard.pk product.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
    <input type="image" formaction="{% url 'product_delete' product.orchard.pk product.pk %}" src="{% static 'admin/img/icon-deletelink.svg' %}" alt="Delete tree" onclick="return confirm('{% trans "Do you really want to delete this product?" %}');">
</span>
{% endif %}
