{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">
                    {% if view.mode == 'add' %}
                        {% blocktrans with name=form.initial.orchard.name %}Add a new product in orchard "{{ name }}"{% endblocktrans %}
                    {% else %}
                        {{ form.instance }}
                    {% endif %}
                </h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <form method="post" enctype="multipart/form-data" action="">{% csrf_token %}
                    {{ form.non_field_errors }}

                    {{ photosformset.management_form }}
                    {{ photosformset.non_field_errors }}

                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        {% include 'partials/form-loop.html' %}
                    {% endfor %}

                    {% for pform in photosformset %}

                        <div class="upload-form">
                            {% for field in pform %}
                                {% if field|is_checkbox %}
                                    <label for="{{ pform.prefix }}-{{ field.name }}" class="custom-checkbox">
                                        <input class="custom-checkbox__input" type="checkbox" id="{{ pform.prefix }}-{{ field.name }}" name="{{ pform.prefix }}-{{ field.name }}" {% if field.value %} checked {% endif %}>
                                        <span class="custom-checkbox__label">{{ field.label|strip_colon }}</span>
                                    </label>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="edit-submit">
                        <div style="float: right;"><button id="cancelBack" class="btn is-secondary">{% trans "Cancel" %}</button></div>
                        <button type="submit" class="btn">{% if view.mode == 'add' %}{% trans 'Create' %}{% else %}{% trans 'Update' %}{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
