{% extends 'base.html' %}
{% load orchard thumbnail %}

{% block extra_head %}
    {% include 'geo_headers.html' %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var btn = document.getElementById('order_btn');
            if (btn) {
                btn.addEventListener('click', function (ev) {
                    document.getElementById('order_form').style.display = 'block';
                    this.style.display = 'none';
                });
            }

            {% if user.is_authenticated and trees %}
              var points = [];
              {% for item in trees %}
                points.push('{{ item|as_geojson }}');
              {% endfor %}
              bdnmap.init('map', points, {
                  resolution: 6, format: 'JSON', detailsOnHover: true, satellite: true
              });
            {% endif %}
        });
    </script>
    <style>
        fieldset#order_form { display: none; margin-top: 1em; }
    </style>
{% endblock %}

{% block content %}

{% if not object.orchard.is_public %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="message is-error">{% trans "WARNING: products from private orchards are not publicly visible!" %}</p>
            </div>
        </div>
    </div>
{% endif %}

<div class="orchard-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="orchard-hero__title is-large">{% blocktrans with name=object.orchard.name %}Orchard {{ name }}{% endblocktrans %}</h1>

                <div class="orchard-hero_description entry-content">
                    <div id="photos" class="product-photos">
                        {% for photo in object.photos.all %}{% thumbnail photo.image "500x200" as im %}
                            <a href="{{ photo.image.url }} " data-lightbox="image-orchard">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            </a>
                        {% endthumbnail %}{% endfor %}
                    </div>

                    <h2>{{ object }}</h2>

                    {% if not object.availability %}
                        <div class="message is-warning"><p>{% trans "Sorry, this product is currently not available." %}</p></div>
                    {% elif avail_dates %}
                        <p><strong>{% trans "Fruit picking available around:" %}</strong> {{ avail_dates|date_tuple_to_string }}</p>
                    {% endif %}

                    <div>{{ object.description|safe }}</div>

                    <table class="data-table is-dark is-align-left">
                        <tr>
                            <td><em>{% trans "Price:" %}</em></td>
                            <td>
                                {% if object.price %}
                                CHF {{ object.price }}{% if object.unit %} / {{ object.unit }}{% endif %}
                                {% else %}-{% endif %}
                            </td>
                        </tr>
                        {% if object.sending_costs %}
                        <tr>
                            <td><em>{% trans "Shipping costs:" %}</em></td>
                            <td>CHF {{ object.sending_costs }}</td>
                        </tr>
                        {% endif %}
                    </table>

                    {% if can_edit %}
                        <div style="float:right">
                            <a class="btn" href="{% url 'product_edit' object.orchard.pk object.pk %}">{% trans "Edit" %}</a>
                        </div>
                    {% endif %}

                    {% if can_order %}
                        {% if object.typ == 'self' %}
                            <button class="btn" id="order_btn">{% trans "Announce interest" %}</button>
                        {% else %}
                            <button class="btn" id="order_btn">{% blocktrans context "verb" %}Order{% endblocktrans %}</button>
                        {% endif %}
                        {# Fieldset below oly appear when user click on the button above #}
                        <fieldset id="order_form">
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {% for field in order_form %}
                                    {% include 'partials/form-loop.html' %}
                                {% endfor %}

                                {% if object.typ == 'self' %}
                                    <button class="btn" type="submit">{% trans "Announce interest" %}</button>
                                {% else %}
                                    <button class="btn" type="submit">{% blocktrans context "verb" %}Order{% endblocktrans %}</button>
                                {% endif %}
                            </form>
                        </fieldset>
                    {% else %}
                        {% if object.availability %}
                            <div class="messages">
                                {% url 'login' as login_url %}
                                <p>{% blocktrans %}You must be <a href="{{ login_url }}">authenticated</a> on this site to be able to order this product.{% endblocktrans %}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                  </div>
            </div>
        </div>
    </div>
</div>

    {% if user.is_authenticated %}
    <div class="map-container">
        {% if trees %}
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                        <h2 class="orchard-hero__title is-large mt2r mb2r">{% trans "Available trees for self-picking" %}</h2>
                    </div>
                </div>
            </div>
            <div id="map" class="map"></div>
        {% else %}
            {% if can_edit %}
                <div class="container" style="margin-top: 20px">
                    <div class="row">
                        <div class="col-12">
                            <div class="message is-warning">{% trans "No trees yet for this product." %}</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="container mt1r">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
                    <div class="opacity-slider">
                        <span class="range-end">satellite</span> <input type="range" value="1" step="0.05" max="1" min="0" id="layeropacity"> <span class="range-end">plan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
