{% extends "base.html" %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Safety data sheet for fruit collection" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <div class="highlight">
                    <p>{% trans "Unfortunately, the dangers of handling ladders are often underestimated." %}</p>
                    <p><b>{% trans "You are responsible for your own safety." %}</b></p>
                    <p>{% trans "The association Wildbiss rejects any liability for accidents." %}</p>
                </div>

                <div style="margin-top: 1em;">{% trans "therefore:" %}
                <ul>
                    <li>{% trans "Observe the safety instructions of this leaflet" %}</li>
                    <li>{% trans "Please note the general terms and conditions of meinobstgarten.ch" %}</li>
                    <li>{% trans "Note the agreement with the tree owner" %}</li>
                    <li>{% trans "Make an liability insurance (tree owner + picker)" %}</li>
                </ul>
                </div>

                <h3>{% trans "This is how you ensure your safety" %}</h3>

                <h4>{% trans "Maintain your fruit trees" %}</h4>

                <p><b>{% trans "As a tree owner you are responsible for the care of your trees. As a landlord, under certain circumstances they may be liable for accidents." %}</b></p>
                <ul>
                    <li>{% trans "Junge Obstbäume müssen in den ersten zehn Jahren erzogen werden. Dies ist nicht Thema dieses Merkblattes." %}</li>
                    <li>{% trans "Remove dead branches. Even in winter, you can see them on their dead bark, where insect holes are often visible. The dead wood is the nursery of wild bees and beetles - layer it in a sunny spot." %}</li>
                    <li>{% trans "Schneiden Sie nicht bis ins lebende Holz, da sonst neue Pilze eindringen können." %}</li>
                    <li>{% trans "Schaffen Sie Licht in der Krone indem sie Äste entfernen, die keine Früchte mehr tragen." %}</li>
                    <li>{% trans "Obstbäume werden grösser als Leitern lang. Kürzen Sie die Krone rechtzeitig ein." %}</li>
                </li></ul>

                <h4>{% trans "Use suitable ladders" %}</h4>

                <p><b>{% trans "As a tree owner, you are responsible for the condition of the material delivered. Only provide material in perfect condition." %}</b></p>

                <div class="row">
                    <div class="col-6 col-md-4 m-mb1r">
                        <img src="{% static 'img/safety/leiter-1.jpg' %}">
                    </div>
                    <div class="col-6 col-md-4 m-mb1r">
                        <img src="{% static 'img/safety/leiter-2.jpg' %}">
                    </div>
                    <div class="col-12 col-md-4">
                        <p>
                            <b>{% trans "Gesicherte Anlegeleitern" %}</b><br>
                            <em>{% trans "Binden Sie die Leiter an einem starken Ast oder am Stamm an." %}</em>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 col-md-4 m-mb1r">
                        <img src="{% static 'img/safety/leiter-3.jpg' %}">
                    </div>
                    <div class="col-6 col-md-4 m-mb1r">
                            <img src="{% static 'img/safety/leiter-4.jpg' %}">
                    </div>
                    <div class="col-12 col-md-4">
                        <p>
                            <b>{% trans "Freistehende Obstbaumleitern mit Stützen" %}</b><br>
                            <em>{% trans "In unebenem Gelände sind Teleskopstützen notwendig." %}</em>
                        </p>
                    </div>
                </div>

                <p><em>{% trans "→ verwenden Sie keine Haushalt-Bockleitern (Kippgefahr!)" %}</em></p>

                <p><b>{% trans "Wichtige Hinweise" %}</b></p>

                <div class="row">
                    <div class="col-6 col-md-4 mb1r">
                        <img src="{% static 'img/safety/leiter-5.jpg' %}"><br>
                        <p>{% trans "Verwenden Sie keine Aluleitern in der Nähe von Stromleitungen." %}</p>
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        <img src="{% static 'img/safety/leiter-6.jpg' %}"><br>
                        <p>{% trans "Testen Sie ihre Leitern jedes Jahr auf Bruchsicherheit." %}</p>
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        <p>{% trans "Holme testen:" %}<br>
                        {% trans "Leiter beidseits abstützen und in der Mitte belasten." %}</p>
                        <p>{% trans "Sprossen testen:" %}<br>
                        {% trans "Leiter auf den Boden legen und jede Sprosse mit dem vollen Körpergewicht belasten." %}
                        </p>
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        <img src="{% static 'img/safety/leiter-pikes.jpg' %}"><br>
                        <p>{% trans "Die Leiter soll mind. 7cm lange Metallspitzen haben." %}</p>
                    </div>
                </div>

                <h3>{% trans "Stellen Sie die Leiter richtig an" %}</h3>

                <p><b>{% trans "Als PflückerIn tragen Sie die Verantwortung für den sachgemässen Gebrauch des zur Verfügung gestellten Materials." %}</b></p>

                <p>{% trans "Das Anstellen von Leitern erfordert Erfahrung und Fachwissen. Schwindelfreiheit und durchschnittliche körperliche Fitness sind eine Grundvoraussetzung. Wenn Sie noch nie eine Leiter angestellt haben, beginnen Sie unter fachkundiger Anleitung und mit kurzen, leichten Leitern." %}</p>

                <ul>
                    <li>{% trans "Legen Sie die Leiter immer an gesunde und ausreichend dicke Äste oder an den Stamm an. Beide Holme müssen stabil aufliegen." %}</li>
                    <li>{% trans "Stellen Sie die Leiter immer in Stammrichtung an. Bricht ein Ast, fällt sie in den Baum hinein und findet wieder Halt." %}</li>
                    <li>{% trans "Stellen Sie die Leiter in einem Winkel von 70° an." %}</li>
                    <li>{% trans "Drücken Sie die Metallspitzen tief in den Boden." %}</li>
                </ul>

                <div class="row">
                    <div class="col-4 col-md-3">
                        <img src="{% static 'img/safety/leiter-angle.jpg' %}" style="float: left; margin: 5px;">
                    </div>
                    <div class="col-8 col-md-9">
                        <p></p>{% trans "Mit der Ellenbogenprobe können Sie den Anstellwinkel kontrollieren. (siehe Bild)" %}</p>
                    </div>
                </div>

                <h3>{% trans "Bereiten Sie sich gut vor" %}</h3>
                <p><b>{% trans "Als PflückerIn tragen Sie die Verantwortung für den sachgemässen Gebrauch des zur Verfügung gestellten Materials." %}</b></p>

                <ul>
                    <li>{% trans "Binden Sie einen Pflückkorb am Gürtel fest. Beide Hände müssen frei sein." %}</li>
                    <li>{% trans "Ziehen Sie stabile Schuhe mit rutschfester, sauberer und stabiler Sohle an." %}</li>
                    <li>{% blocktrans with url="https://www.rega.ch/de/multimedia/mobile-app.aspx" %}Laden Sie die <a href="{{ url }}">REGA-App</a> auf ihr Natel.{% endblocktrans %}</li>
                    <li>{% trans "Nehmen Sie eine Begleitperson mit. Gehen Sie nicht alleine Früchte pflücken." %}</li>
                    <li>{% trans "Kontrollieren Sie, dass keine gefährlichen oder spitzigen Gegenstände unter der Leiter liegen." %}</li>
                </ul>

                <div class="row">
                    <div class="col-6 col-md-4"><img src="{% static 'img/safety/pfluckkorb.jpg' %}" style="margin-bottom: 1rem;">
                        <p>{% trans "Festgebundener Pflückkorb" %}</p>
                    </div>
                    <div class="col-6 col-md-4"><img src="{% static 'img/safety/shoes.jpg' %}"  style="margin-bottom: 1rem;">
                        <p>{% trans "Gutes Schuhwerk" %}</p>
                    </div>
                </div>

                <h3>{% trans "Verhalten Sie sich richtig auf der Leiter" %}</h3>

                <p><b>{% trans "Als PflückerIn tragen Sie die Verantwortung für den sachgemässen Gebrauch des zur Verfügung gestellten Materials." %}</b></p>

                <div class="row">
                    <div class="col-4 col-md-3">
                        <img src="{% static 'img/safety/pfluckhaken.jpg' %}">
                    </div>
                    <div class="col-8 col-md-6">
                        <p>{% trans "Mit Pflückhaken können Sie Fruchtäste näher ziehen." %}</p>
                    </div>
                </div>

                <ul>
                    <li>{% trans "Pflücken Sie nur Früchte die leicht erreichbar sind. Lehnen Sie sich nicht weit hinaus." %}</li>
                    <li>{% trans "Wenn Sie weiter entfernte Früchte ernten möchten verwenden Sie Pflückhaken." %}</li>
                </ul>

                <p class="highlight"><b>{% trans "Steigen Sie niemals bei starkem Wind oder Regen oder wenn sie sich unwohl fühlen auf die Leiter." %}</b>
                </p>

                <div class="highlight">
                    {% trans "Joggeli söll go Birli schüttle..." %}<br>
                    <h3>{% trans "Retrieve the harmless alternative fruit" %}</h3>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img src="{% static 'img/safety/groundfruits.jpg' %}"><br>
                        <div><b>{% trans "Aufgelesenes Obst müssen Sie sofort verarbeiten." %}</b></div>
                        <p>{% trans "Sie können es durch Einkochen, Sterilisiern, Dörren, Mosten, Brennen oder Einfrieren haltbar machen." %}</p>
                        <p>{% trans "Nicht jede Obstsorte eignet sich zum Schütteln. Gewisse Birnen- und Apfelsorten sind erst nach einer mehrmonatigen Lagerung im feuchten und kühlen Keller geniessbar." %}</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="{% static 'img/safety/schuttelhaken.jpg' %}"><br>
                        <img src="{% static 'img/safety/schuttelhaken-2.jpg' %}" align="right">
                        <div>{% trans "Wenn die Früchte sehr reif sind, fallen sie von alleine zu Boden. Mit Schüttelhaken wird nachgeholfen." %}</div>
                        <p>{% trans "Shake only on healthy branches." %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-4 mb1r">
                        {% trans "Jam cooking" %}<br>
                        <img src="{% static 'img/safety/prodkonfi-1.jpg' %}"><br>
                        <img src="{% static 'img/safety/prodkonfi-2.jpg' %}">
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        {% trans "Sterilize" %}<br>
                        <img src="{% static 'img/safety/prodsteril-1.jpg' %}"><br>
                        <img src="{% static 'img/safety/prodsteril-2.jpg' %}">
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        {% trans "Parch" %}<br>
                        <img src="{% static 'img/safety/proddorren-1.jpg' %}"><br>
                        <img src="{% static 'img/safety/proddorren-2.jpg' %}">
                    </div>
                    <div class="col-6 col-md-4 mb1r">
                        {% trans "Most" %}<br>
                        <img src="{% static 'img/safety/prodmosten-1.jpg' %}"><br>
                        <img src="{% static 'img/safety/prodmosten-2.jpg' %}">
                    </div>
                </div>

                <h3>{% trans "Sources" %}</h3>
                <ul>
                    <li>Beratungsstelle für Unfallverhütung in der Landwirtschaft (2016): Sicherer Umgang mit Obstbaumleitern.</li>
                    <li>FibL: Biologischer Obstbau auf Hochstämmen</li>
                    <li>Jurapark Aargau: Sicherheit beim Kirschenpflücken</li>
                    <li>Landwirtschaftliche Berufsgenossenschaft Mittel- und Ostdeutschlands (2005): Sicherheit bei der Obsternte.</li>
                    <li>www.agrarheute.com (2007): Obsternte. Leitersturzunfälle vermeiden.</li>
                    <li>Bau- und Umweltamt der Gemeinde Planegg: Fachgerechte Baumpflege - was heisst das konkret?</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
