<h2 class="outofblock">{% trans "Supporters" %}</h2>

<div class="supporter-container">
{% for supporter in supporters %}
  <div class="supporter">
      <a href="{{ supporter.url }}" target="_blank">
          <img src="{{ supporter.img_src }}" title="{{ supporter.title }}">
      </a>
  </div>
{% endfor %}
</div>
