{% extends "base.html" %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Gebührenreglement" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                {% include 'partials/taxes.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
