{% extends "base.html" %}
{% load orchard %}

{% block extra_head %}
  {% include "geo_headers.html" %}

    <script type="text/javascript">
        {% for item in other_trees %}
        otherPoints.push('{{ item|as_geojson }}');
        {% endfor %}

        function showTab(divId) {
            $('div.form-part').hide();
            $('ul.tabs li').removeClass('selected');
            $('div#' + divId).show();
            $('#tab-' + divId).addClass('selected');
        }

        $(document).ready(function() {
            $('ul.tabs li').on('click', function () {
                showTab($(this).data('linkedto'));
            });
            if ($('ul.errorlist').length) {
                showTab($('ul.errorlist').closest('div.form-part').attr('id'));
            }
            sortSelect(document.getElementById('id_species'));
            $('#id_is_habitat').change(function (ev) {
                $('#habitat_note_p').toggle();
            });
        });
    </script>
    {{ form.media }}
    <style>
        ul#id_req_level > li:first-child { display: none; }
        .hidden { display: none; }
    </style>
{% endblock %}

{% block content %}
<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                {% if view.mode == 'add' %}<h1 class="page-header">{% trans 'Add a new tree' %}</h1>{% endif %}
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                <ul class="tabs">
                    <li class="selected" id="tab-general" data-linkedto="general">{% trans "General" %}</li>
                    <li id="tab-photos" data-linkedto="photos">{% trans "Photos" %}</li>
                    {% for form in yearstateformset %}
                        <li {% if not form.instance.pk %}class="new"{% endif %}
                        id="tab-{{ form.initial.year }}"
                        data-linkedto="{{ form.initial.year }}">{{ form.initial.year }}</li>
                    {% endfor %}
                </ul>

                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="form-part" id="general">
                        {{ form.orchard }}
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-group">
                                    {{ form.species|label_tag }}
                                    <select id="id_{{ form.species.name }}" name="{{ form.species.name }}" class="input-group__field">
                                        {% for specie in form.species.field.choices %}
                                            <option value="{{ specie.0 }}" {% if form.species.value == specie.0 %} selected {% endif %}>{{ specie.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    {{ form.species.errors }}
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="input-group">
                                    {{ form.variety|label_tag }}
                                    <input type="text" id="id_{{ form.variety.name }}" name="{{ form.variety.name }}" class="input-group__field" placeholder="{{ form.variety.label }}" value="{{ form.variety.value|default:'' }}">
                                    {{ form.variety.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {% for radio in form.availability.field.choices %}
                                        <label for="id_{{ form.availability.name }}_{{ radio.0 }}" class="custom-radio">
                                            <input class="custom-radio__input" type="radio" id="id_{{ form.availability.name }}_{{ radio.0 }}" name="{{ form.availability.name }}" value="{{ radio.0 }}" {% if form.availability.value|stringformat:'s' == radio.0|stringformat:'s' %} checked {% endif %}>
                                            <span class="custom-radio__label">{{ radio.1 }}</span>
                                        </label><br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.point|label_tag }}
                                    {{ form.point }}
                                    {{ form.point.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.general_descr|label_tag }}
                                    {{ form.general_descr }}
                                    <span class="helptext">{{ form.general_descr.help_text }}</span>
                                    {{ form.general_descr.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.variety_descr|label_tag }}
                                    {{ form.variety_descr }}
                                    <span class="helptext">{{ form.variety_descr.help_text }}</span>
                                    {{ form.variety_descr.errors }}
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="input-group">
                                    {{ form.pick_start|label_tag }}
                                    <select id="id_{{ form.pick_start.name }}" name="{{ form.pick_start.name }}" class="input-group__field">
                                        {% for date in form.pick_start.field.choices %}
                                            <option value="{{ date.0 }}" {% if form.pick_start.value == date.0 %} selected {% endif %}>{{ date.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    {{ form.pick_start.errors }}
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="input-group">
                                    {{ form.pick_end|label_tag }}
                                    <select id="id_{{ form.pick_end.name }}" name="{{ form.pick_end.name }}" class="input-group__field">
                                        {% for date in form.pick_end.field.choices %}
                                            <option value="{{ date.0 }}" {% if form.pick_end.value == date.0 %} selected {% endif %}>{{ date.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    {{ form.pick_end.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group" data-field="tree_treatment">
                                    {{ form.treatment|label_tag }}
                                    <textarea id="id_{{ form.treatment.name }}" name="{{ form.treatment.name }}" class="input-group__field" placeholder="{{ form.treatment.label }}">{{ form.treatment.value|default:'' }}</textarea>
                                    <span class="helptext">{{ form.treatment.help_text }}</span>
                                    {{ form.treatment.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.price|label_tag }}
                                    <input type="number" id="id_{{ form.price.name }}" name="{{ form.price.name }}" class="input-group__field" placeholder="{{ form.price.label }}" value="{{ form.price.value|default:'' }}">
                                    {{ form.price.errors }}
                                </div>

                                <div class="input-group" data-field="pay_method">
                                    {{ form.pay_method|label_tag }}<br>
                                    {% for item in form.pay_method.field.choices %}
                                        <label for="id_{{ form.pay_method.name }}_{{ item.0 }}" class="custom-checkbox">
                                            <input
                                                type="checkbox"
                                                id="id_{{ form.pay_method.name }}_{{ item.0 }}"
                                                class="custom-checkbox__input"
                                                name="{{ form.pay_method.name }}"
                                                value="{{ item.0 }}"
                                                {% if item.0|stringformat:'s' in form.pay_method.value|stringformat:'s' %} checked {% endif %}
                                            >
                                            <span class="custom-checkbox__label">{{ item.1 }}</span>
                                        </label><br>
                                    {% endfor %}
                                    {{ form.pay_method.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.req_level|label_tag }}<br>
                                    {% for radio in form.req_level.field.choices %}
                                        {% if radio.0 %}
                                            <label for="id_{{ form.req_level.name }}_{{ radio.0 }}" class="custom-radio">
                                                <input class="custom-radio__input" type="radio" id="id_{{ form.req_level.name }}_{{ radio.0 }}" name="{{ form.req_level.name }}" value="{{ radio.0 }}" {% if form.req_level.value|stringformat:'s' == radio.0|stringformat:'s' %} checked {% endif %}>
                                                <span class="custom-radio__label">{{ radio.1 }}</span>
                                            </label><br>
                                        {% endif %}
                                    {% endfor %}
                                    {{ form.req_level.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    {{ form.usages|label_tag }}<br>
                                    {% for item in form.usages.field.choices %}
                                        <label for="id_{{ form.usages.name }}_{{ item.0 }}" class="custom-checkbox">
                                            <input
                                                type="checkbox"
                                                id="id_{{ form.usages.name }}_{{ item.0 }}"
                                                class="custom-checkbox__input"
                                                name="{{ form.usages.name }}"
                                                value="{{ item.0 }}"
                                                {% if item.0|stringformat:'s' in form.usages.value|stringformat:'s' %} checked {% endif %}
                                            >
                                            <span class="custom-checkbox__label">{{ item.1 }}</span>
                                        </label><br>
                                    {% endfor %}
                                    {{ form.usages.errors }}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="input-group">
                                    <label for="id_{{ form.is_habitat.name}}" class="custom-checkbox">
                                        <input
                                            type="checkbox"
                                            id="id_{{ form.is_habitat.name }}"
                                            class="custom-checkbox__input"
                                            name="{{ form.is_habitat.name }}"
                                            {% if form.is_habitat.value %} checked {% endif %}
                                        >
                                        <span class="custom-checkbox__label">{{ form.is_habitat.label }}</span>
                                    </label>
                                    {{ form.is_habitat.errors }}
                                    <span class="helptext">{{ form.is_habitat.help_text }}</span>
                                </div>
                            </div>

                            <div class="col-12" id="habitat_note_p" style="display: {{ form.instance.is_habitat|yesno:'block,none' }}">
                                <div class="input-group">
                                    {{ form.habitat_note|label_tag }}
                                    <textarea id="id_{{ form.habitat_note.name }}" name="{{ form.habitat_note.name }}" class="input-group__field" placeholder="{{ form.habitat_note.label }}">{{ form.habitat_note.value|default:'' }}</textarea>
                                    <span class="helptext">{{ form.habitat_note.help_text }}</span>
                                    {{ form.habitat_note.errors }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-part hidden" id="photos">
                        <div class="row">
                            {{ photosformset.management_form }}
                            {{ photosformset.non_form_errors }}
                            {% for form in photosformset %}
                                <div class="upload-form col-12">
                                    {% for field in form %}
                                    <div class="input-group">
                                        {% if field|is_checkbox %}
                                            <label for="id_{{ field.name }}" class="custom-checkbox">
                                                <input class="custom-checkbox__input" type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}" {% if field.value %} checked {% endif %}>
                                                <span class="custom-checkbox__label">{{ field.label|strip_colon }}</span>
                                            </label>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {{ yearstateformset.management_form }}
                    {{ yearstateformset.non_form_errors }}
                    {% for form in yearstateformset %}
                        <div class="form-part hidden" id="{{ form.initial.year }}">
                            <div class="row">
                                {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                {{ form.non_field_errors }}
                                <div class="col-12">
                                    {% for field in form.visible_fields %}
                                        {% include 'partials/form-loop.html' %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-btns">
                        <button class="btn" type="submit" name="submit_and_back" style="margin-bottom: 0.5rem;">{% if view.mode == 'add' %}{% trans 'Create and return to orchard' %}{% else %}{% trans 'Update and return to orchard' %}{% endif %}</button>
                        <button class="btn" type="submit" name="submit_and_continue" style="margin-bottom: 0.5rem;">{% if view.mode == 'add' %}{% trans 'Create and continue editing' %}{% else %}{% trans 'Update and continue' %}{% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
