{% extends "base.html" %}
{% load orchard thumbnail %}

{% block extra_head %}
  {% include "geo_headers.html" %}

<script type="text/javascript">
    {% for item in other_trees %}
    otherPoints.push('{{ item|as_geojson }}');
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function(event) {
      bdnmap.init('map', ['{{ tree|as_geojson }}'], {resolution: 1, format: 'JSON', detailsOnHover: true});
    });
</script>
<style>
    div.map { height: 200px; width: 100%; }
</style>
{% endblock %}

{% block content %}

<div class="orchard-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                  <h1 class="orchard-hero__title is-large">{{ tree.species }}, {{ tree.variety }}</h1>

                  <div class="orchard-hero_description entry-content">
                      <p><i>{{ tree.get_availability_display }}
                        {% if tree.availability == 'whole' and tree.price %}({{ tree.price }} CHF){% endif %}</i>
                      </p>
                      {% if tree.pick_start %}<p><b>{% trans 'Picking period:' %}</b> {{ tree.pick_date_string }}</p>
                      {% endif %}
                      {% if ystate and ystate.fruit_quant %}<p><b>{% trans 'Fruit quantity estimated for this year:' %}</b> {{ ystate.get_fruit_quant_display }}</p>
                      {% endif %}
                  </div>
            </div>
        </div>
    </div>
</div>


  <div id="map"></div>

  <div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">
                {% if tree.photos.count %}{% for photo in tree.photos.all %}
                    {% thumbnail photo.image "x80" as im %}<img src="{{ im.url }}">{% endthumbnail %}
                {% endfor %}{% endif %}

                {% if tree.general_descr %}<p>{{ tree.general_descr|safe }}</p>{% endif %}
                {% if tree.variety_descr %}<h3>{% trans 'Variety description' %}</h3>
                    <p>{{ tree.variety_descr|safe }}</p>
                {% endif %}
                {% if tree.treatment %}<h3>{% trans 'Tree treatments' %}</h3>
                    <p>{{ tree.treatment|safe }}</p>
                {% endif %}
                {% if tree.is_habitat %}<b>{% trans 'Habitat tree' %}</b>
                {% if tree.habitat_note %}<br>{{ tree.habitat_note }}{% endif %}
                {% endif %}
                {% if tree.req_level %}
                    <p>{% trans 'Requirement level:' %} {{ tree.get_req_level_display }}</p>
                {% endif %}
                {% if tree.usages %}
                    <p><b>{% trans 'Fruit usage(s):' %}</b> {{ tree.get_usages_display }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
