{% load i18n orchard %}

<fieldset>
<img class="closebox" src="{% static 'img/close_window.svg' %}" title="{% trans 'Close' %}">
<form class="booking" method="post" action="{% url 'tree-book' tree.pk year %}"
      data-confirm="{% trans 'Do you really want to book fruit collecting for this tree?' %}">
  {% csrf_token %}
    <span class="header">{% trans 'Quantity:' %}</span> {{ tree.fruit_quantity }}<br>
    <span class="header">{% trans 'Planned dates:' %}</span> {{ tree|pick_date_string:year }}<br>
    <span class="header">{% trans 'Price:' %}</span> {{ tree.price_string }}<br>
    {% url 'safety' as safetyurl %}

    <div class="input-group">
        <label for="safety_check" class="custom-checkbox">
            <input class="custom-checkbox__input" id="safety_check" type="checkbox" name="safety_check" required> 
            <span class="custom-checkbox__label">{% blocktrans %}I have read the <a href="{{ safetyurl }}">safety data sheet</a> on fruit collection{% endblocktrans %}</span>
        </label>
    </div>

    <button class="btn type="submit">{% trans 'Book' %}</button>
</form>
</fieldset>
