{% extends 'base.html' %}

{% block extra_head %}
	<style>
		table.fields { border-collapse: collapse; }
		table.fields th, table.fields td { vertical-align: top; padding: 4px; border: 1px solid #ddd; }
		table.fields th { text-align_left; background-color: #eee; }
		table.fields p { margin: 0; }
	</style>
{% endblock %}

{% block content %}

<div class="generic-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-7">
                <h1 class="page-header">{% trans "Confirm tree modification" %}</h1>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-7 entry-content">

            	<p>{% blocktrans count num=num %}Your orchard contains {{ num }} other tree of the same variety. Would you like to apply the same changes to this tree?{% plural %}Your orchard contains {{ num }} other trees of the same variety. Would you like to apply the same changes to these trees?{% endblocktrans %}</p>

				<form method="POST">
					{% csrf_token %}
					<table class="data-table is-align-left">
						<tr>
							<th style="width: 40px;"></th>
							<th>{% trans 'Field' %}</th>
							<th>{% trans 'Value' %}</th>
						</tr>
						{% for field, value in form.get_values %}
							<tr>
								<td style="width: 40px;">
									<label style="margin: 0;" for="id_{{ field.name }}" class="custom-checkbox">
										<input class="custom-checkbox__input" type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}" {% if field.value %} checked {% endif %}>
										<span class="custom-checkbox__label"></span>
									</label>
								</td>
								<td>{{ field.label }}</td>
								<td>{{ value|safe }}</td>
							</tr>
						{% endfor %}
					</table>
					{{ form.next }}

					<div class="mt1r form-btns">
						<button name="yes" type="submit" class="btn" value="yes">{% trans 'Yes' %}</button>
						<button name="no" class="btn is-secondary" type="submit" value="no">{% trans 'No' %}</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>

<div class="onecol">

</div>
{% endblock %}
