{% load thumbnail %}

<img class="closebox" src="{% static 'img/close_window.svg' %}" title="{% trans 'Close' %}">
<h2>{{ tree.species }}</h2>

<p>In <a href="{{ tree.orchard.get_absolute_url }}">{{ tree.orchard }}</a></p>

{% if photo %}{% thumbnail photo "x80" as im %}
  <div style="float: right;"><img src="{{ im.url }}"></div>
{% endthumbnail %}{% endif %}
<p>{{ tree.general_descr|safe }}</p>
{% with year=tree.next_booking_year %}
{% if year %}
<div class="booking">
    {% include 'tree_booking_form.html' %}
</div>
{% endif %}
{% endwith %}
